asgiref==3.6.0
beautifulsoup4==4.12.2
cachetools==5.3.1
certifi==2023.5.7
cffi==1.16.0
charset-normalizer==3.1.0
colorama==0.4.6
cryptography==41.0.4
cssselect==1.2.0
cssutils==2.7.0
distlib==0.3.7
Django==4.2
django-auth-adfs==1.11.6
django-bootstrap4==23.1
dkimpy==1.1.4
dnspython==2.3.0
filelock==3.12.2
idna==3.4
importlib-metadata==6.6.0
jaraco.classes==3.2.3
keyring==23.13.1
lxml==4.9.2
more-itertools==9.1.0
ms-identity-web==0.0.4
msal==1.24.1
numpy==1.24.3
opencv-python-headless==4.7.0.72
platformdirs==3.10.0
premailer==3.10.0
pycparser==2.21
PyJWT==2.8.0
pypng==0.20220715.0
python-dotenv==1.0.0
pywin32-ctypes==0.2.0
qrcode==7.4.2
requests==2.31.0
soupsieve==2.4.1
sqlparse==0.4.4
typing_extensions==4.5.0
tzdata==2023.3
urllib3==1.26.18
virtualenv==20.24.2
win32-setctime==1.1.0
yagmail==0.15.293
zipp==3.15.0
