<h1>Se enviara mis credenciales a este correo: {{Email}}</h1>

<!-- 
<style>
.contentsend_father{
    /* background: gold; */
    width: 520px;
    padding: 20px;
    margin: 20px;
}
.contentsend{
    background: #F0F1F5;
    width: 90%;
    display: block;
    padding: 20px;
    margin: auto;
    
}
.contentlogo{
    /* background: red; */
    text-align: center;
}
.info{
    /* background: pink; */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.info p{
    text-align: left;
    font-size: 15px;
}
.contentcredentials{
    width: 80%;
    /* background: green; */
    margin: auto;
    padding: 1px;
}
.contentlog{
    /* background: blueviolet; */
    padding: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

.proce{
    background: white;
    display: flex;
    width: 80%;
    margin: 8px auto;
    height: 50px;
}
.contentlog p{
    font-size: 16px;
    margin: auto 2px auto auto;
}
.contentlog h2{
    margin: auto auto auto 2px;
    font-size: 16px;
}
.qr{
    width: 150px;
    height: 150px;
    background: white;
    margin: 20px auto;
}
.qr img{
    width: 100%;
}
.infopadd{
    /* background: red; */
    width: 80%;
    margin: 20px auto 0px auto;
}
.infopadd p{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    margin: 10px auto;
}
</style> 
-->



<div class="contentsend_father" style="width: 100%;">
    <div class="contentsend" style="background: #F0F1F5;width: 90%;display: block;padding: 20px;margin: auto;">
    <div class="contentlogo" style="text-align: center;">
        <img width="40%" src="https://i.ibb.co/W0p4JZ2/logoils-01-01.png" alt="">
    </div>
    <div class="info" style="text-align: center;font-family: Arial, Helvetica, sans-serif;">
        <h2 style="color:black;">Hola Edgar Aguirre!</h2>
        <p style="text-align: left;font-size: 15px;">Estas son las credenciales del trámite que se hizo vinculado a esta cuenta de gmail.</p>
    </div>
    <div class="contentcredentials" style="width: 80%;margin: auto;padding: 1px;">
        <div class="contentlog" style="padding: 1px;font-family: Arial, Helvetica, sans-serif;">
            <div class="proce" style="background: white;display: flex;width: 80%;margin: 8px auto;height: 50px;"><p style="font-size: 16px;margin: auto 2px auto auto;">Expediente: </p><h2 style="margin: auto auto auto 2px;font-size: 16px;">76545</h2></div>
            <div class="proce" style="background: white;display: flex;width: 80%;margin: 8px auto;height: 50px;"><P style="font-size: 16px;margin: auto 2px auto auto;">Contraseña</P><h2 style="margin: auto auto auto 2px;font-size: 16px;">8764</h2></div>
        </div>
        <div class="qr" style="width: 150px;height: 150px;margin: 20px auto;">
            <img style="width: 100%;" src="https://i.ibb.co/zRq5c2Z/s-BUWS8kthxqqrcode.png" alt="">
        </div>
    </div>
    <div class="info" style="text-align: center;font-family: Arial, Helvetica, sans-serif;">
        <p style="text-align: left;font-size: 15px;">Este gmail se ha generado debido a que se usó al realizar un trámite en la página del instituto ILS</p>
        <p style="text-align: left;font-size: 15px;">Si no estás intentando realizar un trámite en ILS ignora este correo.</p>
    </div>
    </div>
    <div style="width: 80%;margin: 20px auto 0px auto;" class="infopadd">
    <p style="margin: 0px;font-family: Arial, Helvetica, sans-serif;font-size: small;margin: 10px auto;">Este correo se envió a la dirección de correo electrónico asociado a un trámite en ILS</p>
    <p style="margin: 0px;font-family: Arial, Helvetica, sans-serif;font-size: small;margin: 10px auto;">Este correo electrónico se genera automáticamente. Por favor no responder a él. Si necesita ayuda adicional. Por favor contacte con nuestro equipo de soporte.</p>
    <a href="#">www.ils.com/help</a>
    </div>
</div>