{% extends 'admin/staff.html' %}
{% load static %}
{% block fut %}

{% if Len_list_data != 0 %}
<h1>pospuesto</h1>
<!-- pesttañas -->
{% for i in Object %}
<a href="{% url 'n_view_fut' %}?code={{i.code}}" class="ayelash">
    <div class="filauno"><img width="25px" height="25px" style="margin: auto 7px;" src="{% static 'img/icon02.png' %}" alt=""><p>{{i.order}}</p></div>
    <div class="filados"><p>{{i.reason}}</p><p>-</p><p>{{i.name}}</p></div>
</a>
{% endfor %}
<!-- fin-pestañas -->

{% else %}


<style>
    .empty{
        /* background: red; */
        display: block;
        text-align: center;
        margin: 200px auto;
    }
</style>

<div class="empty">
    <img src="{% static 'img/empty.png' %}" alt="">
    <h1>No Hay Datos</h1>
</div>

{% endif %}

{% endblock %}