{% extends 'admin/staff_treasury.html' %}
{% load static %}
{% block fut %}

{% if Len_list_data != 0 %}

<style>
    .tittle_{
        /* background: red; */
        margin: 0px 0px 10px 0px;
        padding: 15px 10px;
        border-bottom: 3px solid rgb(233, 239, 255);
        opacity: 80%;
    }
    .p_date{
        color: rgb(29, 180, 29);
        /* background: salmon; */
        width: 250px;
        padding: 2px 10px;
        text-align: right;
        font-weight: bold;

    }
</style>
<h1 class="tittle_">Enviados</h1>

<!-- pesttañas -->
{% for i in Object %}
<a href="{% url 'n_view_fut' %}?code={{i.code}}" class="ayelash">
    <div class="filauno"><img width="25px" height="25px" style="margin: auto 7px;" src="{% static 'img/icon02.png' %}" alt=""><p>{{i.order}}</p></div>
    <div class="filados"><p>{{i.reason}}</p><p>-</p><p>{{i.name}}</p></div>
    <p class="p_date"> {{i.date_exit}} </p>
</a>
{% endfor %}
<!-- fin-pestañas -->

{% else %}

<style>
    .empty{
        /* background: red; */
        display: block;
        text-align: center;
        margin: 200px auto;
    }
</style>

<div class="empty">
    <img src="{% static 'img/empty.png' %}" alt="">
    <h1>No Hay Datos</h1>
</div>

{% endif %}

{% endblock %}