{% extends 'admin/staff.html' %}
{% load static %}
{% block fut %}
<style>
    .block_one{
        height: 900px;
    }
    .ayelash2{
        width: 100%;
        height: 900px;
        background: #464646;
        margin: 0px 0px 10px 0px;
        display: block;
        justify-content: space-between;
        /* font-weight: bold; */
    }
    .bastools{
        width: 100%;
        height: 50px;
        /* background: salmon; */
        display: flex;
    }
    .principaldiv{
        width: 90%;
        height: 400px;
        /* background: red; */
        margin: 10px auto;
        display: flex;
        flex-direction: column;
    }
    .order{
        width: 100%;
        height: 40px;
        /* background: blue; */
        display: flex;
    }
    .order p{
        margin: auto 10px;
        font-size: larger;
        font-weight: bold;
    }
    .alumno{
        width: 100%;
        height: 40px;
        /* background: skyblue; */
        display: flex;
    }
    .p_name{
        margin: auto 5px;
    }
    .p_mail{
        margin: auto 5px;
        font-size: small;
        opacity: 80%;
    }
    .contFUT{
        width: 100%;
        background: #e2e1cfbb;
        background: white;
        margin: 20px auto;
        padding: 1px 0px;
        display: block;
    }
    .baricon{
        margin: auto 15px;
    }
    .baricon:hover{
        cursor: pointer;
        height: 35px;
        width: 35px;
        margin: auto 10px;
    }
    .logoils{
        width: calc(100% - 100px);
        height: 70px;
        background: white;
        display: flex;
        justify-content: space-between;
        margin: 60px auto 30px auto;
    }
    .celd{
        height: 30px;
        /* background: yellow; */
        color: black;
        margin: auto 10px;
        display: flex;
    }
    .celd label{
        font-weight: bold;
        margin: auto 0px auto 0px;
    }
    .celd .text{
        height: 20px;
        margin: auto 10px auto 5px ;
        border: 1px solid black;
    }
    .celd .text p{
        margin: 3px 2px auto 2px;
    }
    .orderils{
        width: calc(100% - 160px);
        background: white;
        margin: 0px auto 10px auto;
        display: flex;
        justify-content: flex-end;
    }
    .celd2{
        height: auto;
        /* background: yellow; */
        color: black;
        margin: auto 10px;
        display: flex;
    }
    .celd2 label{
        font-weight: bold;
        margin: 2px 0px auto 0px;
    }
    .celd2 .text{
        height: 45px;
        margin: auto 10px auto 5px ;
        border: 1px solid black;
    }
    .celd2 .text p{
        margin: 3px 2px auto 3px;
    }
    .datails{
        width: calc(100% - 160px);
        background: white;
        margin: 0px auto 60px auto;
        padding: 1px 0px;
        display: block;
        color: black;
    }
    .datails p{
        margin: 10px;
        
    }
    .send_button{
        background: red;
        width: auto;
        text-align: center;
        padding: 10px 20px;
        border-radius: 5px;
        margin: 1px 5px;
    }
    .send_button:hover{
        cursor: pointer;
        background: gray;
    }
    .buttons_view_fut{
        display: flex;
    }

</style>

<div class="ayelash2">
    <div class="bastools">
        <a href="{% url 'n_staff' %}" style="display: flex;"><img width="25px" class="baricon" height="25px" src="{% static 'img/icon01.png' %}" alt=""></a>
       
        <img onclick="postponed()" width="25px" class="baricon" height="25px" src="{% static 'img/icon02.png' %}" alt="">
        <img onclick="pending()" width="25px" class="baricon" height="25px" src="{% static 'img/icon03.png' %}" alt="">
        
    </div>
    <div class="principaldiv">
        <div class="order"><p>{{objs.order}}</p></div>
        <div class="alumno">
            <img width="25px" height="25px" style="margin: auto 7px;" src="{% static 'img/procedure.png' %}" alt="">
            <p class="p_name">{{objs.name}}</p>
            <p class="p_mail">-{{objs.email}}-</p>
        </div>
        <div class="contFUT">
            <div class="logoils">
                <img height="60px" style="margin: auto 5px;" src="{% static 'img/logoils.png' %}" alt="">
                <div class="celd">
                    <label style="color: red;" for="">Num:</label>
                    <div class="text" style="width: 60px;"><p>Nº{{objs.id}}</p></div>
                </div>
            </div>
            <!--  -->
            <div class="orderils">
                <div class="celd2">
                    <label style="" for="">SOLICITO:</label>
                    <div class="text" style="width: 300px;"><p>{{objs.myrequest}}</p></div>
                </div>
            </div>
            <!--  -->
            <div class="datails">
                <p style="font-weight: bold;">SEÑOR DIRECTOR(A) DEL INSTITUTO LATINOAMERICANO SIGLO XXI-ILS</p>
                <div class="celd" style="margin: auto 0px 10px 10px;">
                    <label for="">YO:</label>
                    <div class="text" style="width: 500px;"><p>{{objs.name}}</p></div>
                </div>
                <div class="celd" style="margin: auto 0px 10px 10px;">
                    <label for="">PROGAMA:</label>
                    <div class="text" style="width: 440px;"><p>{{objs.program}}</p></div>
                </div>
                <div style="display: flex;">
                    <div class="celd" style="margin: auto 0px 10px 10px;">
                        <label for="">CELULAR:</label>
                        <div class="text" style="width: 200px;"><p>{{objs.phone}}</p></div>
                    </div>
                    <div class="celd" style="margin: auto 0px 10px 10px;">
                        <label for="">CON CODIGO DE CARNET O Nº D.N.I:</label>
                        <div class="text" style="width: 200px;"><p>{{objs.dni}}</p></div>
                    </div>
                </div>
                <div class="celd" style="margin: auto 0px 10px 10px;">
                    <label for="">DEL:</label>
                    <div class="text" style="width: 40px;"><p>{{objs.cycle}}</p></div>
                    <label for="">CICLO, CON TODO RESPETO ME PRESENTO Y EXPONGO:</label>
                </div>
                <div class="celd2" style="display: block;">
                    <label for="">QUE POR MOTIVO DE:</label>
                    <div class="text" style="width: 600px; margin: 5px 0px;"><p>{{objs.reason}}</p></div>
                </div>
                <div class="celd2" style="display: block;">
                    <label for="">SOLICITO A SU RESPETABLE AUTORIDAD , SE SIRVA A ORDENAR:</label>
                    <div class="text" style="width: 600px; margin: 5px 0px;"><p>{{objs.order}}</p></div>
                </div>
                <p style="font-weight: bold;">POR LO EXPUESTO A USTED, SEÑOR DIRECTOR(A), RUEGO SE SIRVA ACCEDER A MI PETICIÓN POR SER DE JUSTICIA</p>
                <p style="font-weight: bold; color: blue;">Arequipa, {{objs.date}}</p>
            </div>
        </div>
        <div class="buttons_view_fut">
            <div class="send_button" onclick="send_fut()">Enviar</div>
            <div class="send_button" onclick="pending()">Pendiente de pago</div>
        </div>
        
    </div>
</div>

<script>
    //const form = document.getElementById('myForm2');
    

    // form.addEventListener('submit', function(event) {
    //     event.preventDefault();

    //     console.log('aquiiiiiiiiii');
    //     var variable = 'Edgar';
    //     //$.post('/viewsend/', {var: variable});
    //     $.get('/viewsend/', {'var': 'variable'});

    // });

    function postponed(){
        console.log('aquiiiiiiiiii');
        var variable = 'Edgar';
        $.get('/viewsend/', {'id': '{{objs.id}}', 'stage': 1});

        window.location.href = '/ils_admin/staff';
    }

    function pending(){
        var variable = 'Edgar';
        $.get('/viewsend/', {'id': '{{objs.id}}', 'stage': 2});

        window.location.href = '/ils_admin/staff';
    }

    function send_fut(){
        document.getElementById("login-form-popup").style.display = "block";
        console.log('send test')
    }
</script>

{% endblock %}