{% extends 'admin/staff_treasury.html' %}
{% load static %}
{% block fut %}

<!-- Enlace al archivo CSS -->
<link rel="stylesheet" href="/static/styles/staff/view_fut.css">

<div class="ayelash2">
    <div class="bastools">
        <a href="{% url 'n_staff_treasury' %}">
            <img class="baricon" src="{% static 'img/icon01.png' %}" alt="">
        </a>
        {% if mode == '1' %}
            <img onclick="postponed()"class="baricon" src="{% static 'img/icon02.png' %}" alt="">
            {% if position == 'treasury' %}
                <img onclick="pending()"class="baricon" src="{% static 'img/icon03_white.png' %}" alt="">
            {% endif %}
        {% endif %}
    </div>
    <div class="principaldiv">
        <div class="order"><p>{{objs.order}}</p></div>
        {% if objs.report_state != False %}
        <div id="contid_report" class="content_report">
            <!-- -CONT REPORT- -->
        </div>
        {% endif %}
        <div class="alumno">
            <img src="{% static 'img/procedure.png' %}" alt="">
            <p class="p_name">{{objs.name}}</p>
            <p class="p_mail">-{{objs.email}}-</p>
        </div>
        <div id="id_contFUT_p" class="contFUT">
            <div style="height: 1px;margin: 10px auto;"></div><!--add space-->
            <div id="id_delhiden" class="delhiden"><!--Este contenedor soluciona un problema del hiden-->
                <div id="id_cont_fut" class="fut_cont fut_cont_A">
                    <div id="id_colorFuncion" class="capa_color" onclick="Show_FUTs()"></div><!--Capa Color y funcion-->
                    <div id="desplegable_show" class="desplegable">
                        <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true">
                            <path class="st0" d="M5.3,3.1c0.3-0.3,0.8-0.3,1.1,0c0,0,0,0,0,0l4.3,4.2c0.3,0.3,0.3,0.8,0,1.1c0,0,0,0,0,0l-4.2,4.3  c-0.3,0.3-0.8,0.3-1.1,0s-0.3-0.8,0-1.1l3.7-3.7L5.3,4.2C5,3.9,5,3.4,5.3,3.1C5.3,3.1,5.3,3.1,5.3,3.1z" fill="red"></path>
                        </svg>
                        <p>Mostrar FUT</p>
                    </div>
                    <div id="desplegable_hiden" class="desplegable ocultar" onclick="Hiden_FUTs()">
                        <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true">
                            <path d="M12.78 5.22a.749.749 0 0 1 0 1.06l-4.25 4.25a.749.749 0 0 1-1.06 0L3.22 6.28a.749.749 0 1 1 1.06-1.06L8 8.939l3.72-3.719a.749.749 0 0 1 1.06 0Z" fill="red"></path>
                        </svg>
                        <p>Ocultar FUT</p>
                    </div>
                    <!-- ------------VIEW FUT------------- -->
                    <div class="logoils">
                        <img src="{% static 'img/logoils.png' %}" alt="">
                        <div class="celd">
                            <label style="color: red;" for="">Num:</label>
                            <div class="text" style="width: 60px;"><p>Nº{{objs.id}}</p></div>
                        </div>
                    </div>
                    <!--  -->
                    <div class="orderils">
                        <div class="celd2">
                            <label for="">SOLICITO:</label>
                            <div class="text" style="width: 300px;"><p>{{objs.myrequest}}</p></div>
                        </div>
                    </div>
                    <!--  -->
                    <div class="datails">
                        <p style="font-weight: bold;">SEÑOR DIRECTOR(A) DEL INSTITUTO LATINOAMERICANO SIGLO XXI-ILS</p>
                        <div class="celd" style="margin: auto 0px 10px 10px;">
                            <label for="">YO:</label>
                            <div class="text" style="width: 500px;"><p>{{objs.name}}</p></div>
                        </div>
                        <div class="celd" style="margin: auto 0px 10px 10px;">
                            <label for="">PROGAMA:</label>
                            <div class="text" style="width: 440px;"><p>{{objs.program}}</p></div>
                        </div>
                        <div style="display: flex;">
                            <div class="celd" style="margin: auto 0px 10px 10px;">
                                <label for="">CELULAR:</label>
                                <div class="text" style="width: 200px;"><p>{{objs.phone}}</p></div>
                            </div>
                            <div class="celd" style="margin: auto 0px 10px 10px;">
                                <label for="">USER ID:</label>
                                <div class="text" style="width: 40px;"><p>{{objs.user_id_id}}</p></div>
                            </div>
                        </div>
                        <div style="display: flex;">
                            <div class="celd" style="margin: auto 0px 10px 10px;">
                                <label for="">CON CODIGO DE CARNET O Nº D.N.I:</label>
                                <div class="text" style="width: 200px;"><p>{{objs.dni}}</p></div>
                            </div>
                        </div>
                        <div class="celd" style="margin: auto 0px 10px 10px;">
                            <label for="">DEL:</label>
                            <div class="text" style="width: 40px;"><p>{{objs.cycle}}</p></div>
                            <label for="">CICLO, CON TODO RESPETO ME PRESENTO Y EXPONGO:</label>
                        </div>
                        <div class="celd2" style="display: block;">
                            <label for="">QUE POR MOTIVO DE:</label>
                            <div class="text" style="width: 600px; margin: 5px 0px;"><p>{{objs.reason}}</p></div>
                        </div>
                        <div class="celd2" style="display: block;">
                            <label for="">SOLICITO A SU RESPETABLE AUTORIDAD , SE SIRVA A ORDENAR:</label>
                            <div class="text" style="width: 600px; margin: 5px 0px;"><p>{{objs.order}}</p></div>
                        </div>
                        {% if position == 'treasury' %}

                        {% else %}
                        <div class="celd" style="margin: auto 0px 10px 10px;">
                            <label for="">Ticket:</label>
                            <div class="text" style="width: 100px;"><p>{{objs.n_ticket}}</p></div>
                        </div>
                        {% endif %}
                        <p class="finishh" style="margin: 0px;">POR LO EXPUESTO A USTED, SEÑOR DIRECTOR(A), RUEGO SE SIRVA ACCEDER A MI PETICIÓN POR SER DE JUSTICIA</p>
                        <p class="finishh" style="margin: 0px; color: blue;">Arequipa, {{objs.date}}</p>
                    </div>
                    <!-- ------------/VIEW FUT------------- -->
                    <div class="desplegable" onclick="Hiden_FUTs()">
                        <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true">
                            <path xmlns="http://www.w3.org/2000/svg" class="st0" d="M3.2,10.6c-0.3-0.3-0.3-0.8,0-1.1l0,0l4.2-4.3c0.3-0.3,0.8-0.3,1.1,0l0,0l4.3,4.2c0.3,0.3,0.3,0.8,0,1.1  c-0.3,0.3-0.8,0.3-1.1,0L8,6.8l-3.7,3.8C4,10.9,3.5,10.9,3.2,10.6L3.2,10.6z" fill="red"></path>
                        </svg>
                        <p>Ocultar FUT</p>
                    </div>
                </div>
            </div>
            <!-- ------------------------OTRO CONT------------------------ -->
            <div id="id_delhiden2" class="delhiden"><!--Este contenedor soluciona un problema del hiden-->
                <div id="id_cont_pay" class="fut_cont fut_cont_A" style="color: black;">
                    <div id="id_colorFuncion2" class="capa_color" onclick="Show_PAY()"></div><!--Capa Color y funcion-->
                    <div id="desplegable_show2" class="desplegable">
                        <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true">
                            <path class="st0" d="M5.3,3.1c0.3-0.3,0.8-0.3,1.1,0c0,0,0,0,0,0l4.3,4.2c0.3,0.3,0.3,0.8,0,1.1c0,0,0,0,0,0l-4.2,4.3  c-0.3,0.3-0.8,0.3-1.1,0s-0.3-0.8,0-1.1l3.7-3.7L5.3,4.2C5,3.9,5,3.4,5.3,3.1C5.3,3.1,5.3,3.1,5.3,3.1z" fill="red"></path>
                        </svg>
                        <p>Mostrar Información de Pago</p>
                    </div>
                    <div id="desplegable_hiden_2" class="desplegable ocultar" onclick="Hiden_PAY()">
                        <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true">
                            <path d="M12.78 5.22a.749.749 0 0 1 0 1.06l-4.25 4.25a.749.749 0 0 1-1.06 0L3.22 6.28a.749.749 0 1 1 1.06-1.06L8 8.939l3.72-3.719a.749.749 0 0 1 1.06 0Z" fill="red"></path>
                        </svg>
                        <p>Ocultar Información de Pago</p>
                    </div>
                    <hr class="myhr">
                    <div class="pay_pay">
                        <hr>
                        <style>
                            .img_pay{
                                opacity: 100%;
                                cursor: zoom-in;
                                margin: 1px;
                                border-radius: 3px;
                                background: #D2D2D2;
                            }
                            .img_pay:hover{
                                margin: 0px;
                                border: 1px solid black;
                                opacity: 90%;
                            }
                        </style>
                        <div class="pay_pay_cont">
                            <p><strong>Alumno: </strong>{{objs.name}}</p>
                            <p><strong>Enviado El: </strong>{{objs.date}}</p>
                            <br>
                            <p>El Alumno elige el método de pago por depósito y aquí adjunta la imagen del baucher de pago.</p>
                            <br>
                            <p>Atte.</p>
                            <p>{{objs.name}}</p>
                            <hr>
                            <div id="img_pay_cont">
                                <!--aqui va la imagen-->
                            </div>
                        </div>
                    </div>
                    <!-- --------------------/VIEW PAY------------------- -->
                    <div class="desplegable" onclick="Hiden_PAY()">
                        <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true">
                            <path xmlns="http://www.w3.org/2000/svg" class="st0" d="M3.2,10.6c-0.3-0.3-0.3-0.8,0-1.1l0,0l4.2-4.3c0.3-0.3,0.8-0.3,1.1,0l0,0l4.3,4.2c0.3,0.3,0.3,0.8,0,1.1  c-0.3,0.3-0.8,0.3-1.1,0L8,6.8l-3.7,3.8C4,10.9,3.5,10.9,3.2,10.6L3.2,10.6z" fill="red"></path>
                        </svg>
                        <p>Ocultar FUT</p>
                    </div>
                </div>
            </div>
            
            <style>
                
            </style>
            <div id="cont_padre_tickets" class="contMyTickets ocultar">
                <div class="line_area">
                    <img src="{% static 'img/pngegg.png' %}" alt="">
                    <hr>
                </div>
                <div class="contMyTicket">
                    <div class="ticket_tittle">
                        <p>OBSERVACIONES</p>    
                    </div>
                    <div id="content_dinamic" class="content_dinamico">
                        <!-- AQUI VAN LOS TICKETS -->

                        <!-- Y LOS CONTENEDOR DE TICKETS ABIERTOS (CON ID idBody_ticket -->

                    </div>
                    
                    <style>

                    </style>
                    <!-- EL CONTENEDOR CON ID: --- ESTABA AQUI -->
                </div>
            </div>
            
            <style>

            </style>
            <!-- ------------------------/OTRO CONT------------------------ -->
            <div id="id_cont_ticket" class="ticket_conteiner ocultar">
                <img class="img_admin" src="{% static 'img/admin_icon.png' %}" alt="">
                <div class="contticket">
                    <div class="head_ticket">
                        <img src="{% static 'img/pngegg.png' %}" alt="">
                        <p><strong>De</strong> Área Tesorería <strong>Para</strong> 70165345@ils.edu.pe</p>
                        <p>|</p>
                        <p id="id_num_ticket" style="opacity: 60%;">...</p>
                        <img class="deleted" src="{% static 'img/deleted.png' %}" alt="" onclick="DeletedTicket()">
                    </div>
                    <input id="id_titulo" type="text" value="" placeholder='Título' name="">
                    <hr>
                    <textarea id="id_desarrollo" placeholder='Desarrollo' name="reason" cols="30" rows="10" required></textarea>
                    <div id="id_file_add_cont">
                        <!-- -- -->
                    </div>
                    <div class="space_buttons_ticket">
                        <button type="" onclick="sendTicket()"><strong>Enviar</strong></button>
                        <div class="adjunt_img">
                          <input type="file" id="pdf_file" name="pdf_file" class="input-file" accept="*">
                          <label for="pdf_file" class="custom_button"><img src="{% static 'img/adjuntar.png' %}"></label>
                        </div>
                        <!-- - -->
                        <div class="adjunt_img">
                          <input type="file" id="pdf_file2" name="pdf_file" class="input-file" accept=".png, .jpg">
                          <label for="pdf_file2" class="custom_button"><img src="{% static 'img/img_ad.png' %}"></label>
                        </div>
                        <!-- - -->
                        <div class="adjunt_img">
                          <label class="custom_button"><img src="{% static 'img/link_ad.png' %}"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fut_cont ocultar">
                <div class="logoils">
                    <img src="{% static 'img/logoils.png' %}" alt="">
                    <div class="celd">
                        <label style="color: red;" for="">Num:</label>
                        <div class="text" style="width: 60px;"><p>Nº{{objs.id}}</p></div>
                    </div>
                </div>
                <!--  -->
                <div class="orderils">
                    <div class="celd2">
                        <label for="">SOLICITO:</label>
                        <div class="text" style="width: 300px;"><p>{{objs.myrequest}}</p></div>
                    </div>
                </div>
                <!--  -->
                <div class="datails">
                    <p style="font-weight: bold;">SEÑOR DIRECTOR(A) DEL INSTITUTO LATINOAMERICANO SIGLO XXI-ILS</p>
                    <div class="celd" style="margin: auto 0px 10px 10px;">
                        <label for="">YO:</label>
                        <div class="text" style="width: 500px;"><p>{{objs.name}}</p></div>
                    </div>
                    <div class="celd" style="margin: auto 0px 10px 10px;">
                        <label for="">PROGAMA:</label>
                        <div class="text" style="width: 440px;"><p>{{objs.program}}</p></div>
                    </div>
                    <div style="display: flex;">
                        <div class="celd" style="margin: auto 0px 10px 10px;">
                            <label for="">CELULAR:</label>
                            <div class="text" style="width: 200px;"><p>{{objs.phone}}</p></div>
                        </div>
                        <div class="celd" style="margin: auto 0px 10px 10px;">
                            <label for="">FUT ID:</label>
                            <div class="text" style="width: 40px;"><p>{{objs.id}}</p></div>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div class="celd" style="margin: auto 0px 10px 10px;">
                            <label for="">CON CODIGO DE CARNET O Nº D.N.I:</label>
                            <div class="text" style="width: 200px;"><p>{{objs.dni}}</p></div>
                        </div>
                    </div>
                    <div class="celd" style="margin: auto 0px 10px 10px;">
                        <label for="">DEL:</label>
                        <div class="text" style="width: 40px;"><p>{{objs.cycle}}</p></div>
                        <label for="">CICLO, CON TODO RESPETO ME PRESENTO Y EXPONGO:</label>
                    </div>
                    <div class="celd2" style="display: block;">
                        <label for="">QUE POR MOTIVO DE:</label>
                        <div class="text" style="width: 600px; margin: 5px 0px;"><p>{{objs.reason}}</p></div>
                    </div>
                    <div class="celd2" style="display: block;">
                        <label for="">SOLICITO A SU RESPETABLE AUTORIDAD , SE SIRVA A ORDENAR:</label>
                        <div class="text" style="width: 600px; margin: 5px 0px;"><p>{{objs.order}}</p></div>
                    </div>
                    {% if position == 'treasury' %}

                    {% else %}
                    <div class="celd" style="margin: auto 0px 10px 10px;">
                        <label for="">Ticket:</label>
                        <div class="text" style="width: 100px;"><p>{{objs.n_ticket}}</p></div>
                    </div>
                    {% endif %}
                    <p class="finishh" style="margin: 0px;">POR LO EXPUESTO A USTED, SEÑOR DIRECTOR(A), RUEGO SE SIRVA ACCEDER A MI PETICIÓN POR SER DE JUSTICIA</p>
                    <p class="finishh" style="margin: 0px; color: blue;">Arequipa, {{objs.date}}</p>
                </div>
            </div>
            <!-- -------------BOTÓNES------------ -->
            <div class="buttons_view_fut">
                {% if position == 'treasury' %}
                    <div class="send_button" onclick="send_fut()"><p>Procesar</p><img src="{% static 'img/sendbutton-16.png' %}" alt=""></div>
                    <div class="send_button" onclick="open_pop_report()"><p>Reportar a Dirección</p><img src="{% static 'img/direction_black.png' %}" alt=""></div>
                    <div class="send_button" onclick="OpenTicket()"><p>Abrir Observación</p><img src="{% static 'img/pngegg.png' %}" alt=""></div>
                {% elif position == 'secretary' %}
                    <div class="send_button" onclick="process_secretary()"><p>Procesar</p><img src="{% static 'img/sendbutton-16.png' %}" alt=""></div>
                    <div class="send_button" onclick="open_pop_report()"><p>Reportar a Dirección</p><img src="{% static 'img/direction_black.png' %}" alt=""></div>
                    <div class="send_button" onclick="OpenTicket()"><p>Abrir Observación</p><img src="{% static 'img/pngegg.png' %}" alt=""></div>
                {% elif position == 'direction' %}
                    <div class="send_button" onclick="issued_document()"><img src="{% static 'img/public.png' %}" alt=""><p>Publicar Certificado</p></div>
                    <div id="btn_download_doc" class="send_button"><img src="{% static 'img/download.png' %}" alt=""><p>Descargar</p></div>
                    <div class="send_button" onclick="open_pop_report()"><p>Reportar FUT</p><img src="{% static 'img/direction_black.png' %}" alt=""></div>
                    <div class="send_button" onclick="OpenTicket()"><p>Abrir Observación</p><img src="{% static 'img/pngegg.png' %}" alt=""></div>
                {% endif %}
            </div>
            <!-- -------------/BOTÓNES------------ -->
        </div>
    </div>
</div>
<div class="form_poput" id="login-form-popup">
    <div class="window_title"><h1>Enviar FUT</h1><button onclick="clesed()">X</button></div>
        {% csrf_token %}
        <div id="mypass">
            <p class="credent">Introdusca aqui el numero de boleta que le proporciono el alumno</p>
            <input type="text" name="ticket" id="ticket">
            <p id="error2"></p>
        </div>
        <hr>
        <input class="btn_send" onclick="cuestion_send()" value="Enviar">
</div>
<div class="form_poput" id="cuestion_send">
    <div class="window_title"><h1>Enviar FUT</h1><button onclick="clesed()">X</button></div>
        <!-- {% csrf_token %} -->
        <div id="mypass">
            <p class="credent" id="text_p" style="font-size: large; margin: 20px 20px 0px 20px;">---</p>
        </div>
        <input class="btn_send" type="submit" onclick="yes_send()" value="Si, Enviar">
        <!-- <a href="/my_fut/download_image">Desacargar imagen</a> -->
    </form>
</div>

<div class="form_poput" id="cuestion_inssued">
    <div class="window_title"><h1>Emitir Documento</h1><button onclick="clesed()">X</button></div>
    <form id="acepted_inssued" action="{% url 'n_send_inssued' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="item_inssued">
            <p>Subir Certificado:</p>
            <input type="file" id="pdf_file" name="my_pdf">
        </div>
        <div class="item_inssued text_inss">
            <p>texto</p>
            <input type="text" name="" id="">
        </div>
        <input type="hidden" name="fut_id" value="{{objs.id}}">
        <input type="hidden" name="fut_tittle" value="{{objs.order}}">

        <input class="btn_send" type="submit" value="Enviar">
    </form>
</div>

<div class="form_poput" id="cuestion_inssued2">
    <div class="window_title"><h1>Publicar Documento</h1><button onclick="clesed()">X</button></div>
    <form id="acepted_inssued" action="{% url 'n_send_document' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="item_inssued">
            <p>Subir Certificado:</p>
            <input type="file" id="pdf_file" name="my_pdf">
        </div>
        <input type="hidden" name="fut_id" value="{{objs.id}}">
        <input type="hidden" name="fut_tittle" value="{{objs.order}}">

        <input class="btn_send" type="submit" value="Publicar">
    </form>
</div>

<div class="form_poput" id="inssued">
    <div class="window_title"><h1>Emitir Certificado</h1><button onclick="clesed()">X</button></div>
    <form id="acepted_inssued_" action="{% url 'n_send_inssued' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="mypass">
            <p class="credent" id="text_p" style="font-size: large; margin: 20px 20px 0px 20px;">Estas seguro de emitir un sertificado para el FUT Nº{{objs.id}} Correspondiente al alumno '{{objs.name}}'</p>
        </div>
        <input class="btn_send" type="submit" value="Enviar">
    </form>
</div>

<script>
    // VARIABLES
    var nameAdmin = "{{Data_log.admin_name}}";
    var chargeAdmin = "{{Data_log.position_admin1}}";
    //id
    var user_id = "{{objs.user_id_id}}";
    var admin_id = "{{Data_log.admin_id}}";
    var fut_id = "{{objs.id}}";
    //Report
    var report_state = "{{objs.report_state}}";
</script>

<!-- <script src="/static/scripts/admin/script.js" type="module" charset="utf-8" async defer></script> -->
<script src="/static/scripts/admin/script.js" type="text/javascript" charset="utf-8" async defer></script>
{% endblock %}