{% extends 'admin/staff_treasury.html' %}
{% load static %}
{% block fut %}
<style>
    .block_one{
        height: 900px;
    }
    .ayelash2{
        width: 100%;
        height: 900px;
        background: #464646;
        margin: 0px 0px 10px 0px;
        display: block;
        justify-content: space-between;
        /* font-weight: bold; */
    }
    .bastools{
        width: 100%;
        height: 50px;
        /* background: salmon; */
        display: flex;
    }
    .principaldiv{
        width: 90%;
        height: 400px;
        /* background: red; */
        margin: 10px auto;
        display: flex;
        flex-direction: column;
    }
    .order{
        width: 100%;
        height: 40px;
        /* background: blue; */
        display: flex;
    }
    .order p{
        margin: auto 10px;
        font-size: larger;
        font-weight: bold;
    }
    .alumno{
        width: 100%;
        height: 40px;
        /* background: skyblue; */
        display: flex;
    }
    .p_name{
        margin: auto 5px;
    }
    .p_mail{
        margin: auto 5px;
        font-size: small;
        opacity: 80%;
    }
    .contFUT{
        width: 100%;
        background: #e2e1cfbb;
        background: white;
        margin: 20px auto;
        padding: 1px 0px;
        display: block;
    }
    .baricon{
        margin: auto 15px;
    }
    .baricon:hover{
        cursor: pointer;
        height: 35px;
        width: 35px;
        margin: auto 10px;
    }
    .logoils{
        width: calc(100% - 100px);
        height: 70px;
        background: white;
        display: flex;
        justify-content: space-between;
        margin: 60px auto 30px auto;
    }
    .celd{
        height: 30px;
        /* background: yellow; */
        color: black;
        margin: auto 10px;
        display: flex;
    }
    .celd label{
        font-weight: bold;
        margin: auto 0px auto 0px;
    }
    .celd .text{
        height: 20px;
        margin: auto 10px auto 5px ;
        border: 1px solid black;
    }
    .celd .text p{
        margin: 3px 2px auto 2px;
    }
    .orderils{
        width: calc(100% - 160px);
        background: white;
        margin: 0px auto 10px auto;
        display: flex;
        justify-content: flex-end;
    }
    .celd2{
        height: auto;
        /* background: yellow; */
        color: black;
        margin: auto 10px;
        display: flex;
    }
    .celd2 label{
        font-weight: bold;
        margin: 2px 0px auto 0px;
    }
    .celd2 .text{
        height: 45px;
        margin: auto 10px auto 5px ;
        border: 1px solid black;
    }
    .celd2 .text p{
        margin: 3px 2px auto 3px;
    }
    .datails{
        width: calc(100% - 160px);
        background: white;
        margin: 0px auto 60px auto;
        padding: 1px 0px;
        display: block;
        color: black;
    }
    .datails p{
        margin: 10px;
        
    }
    .send_button{
        background: green;
        width: auto;
        text-align: center;
        padding: 10px 20px;
        border-radius: 5px;
        margin: 1px 5px;
        display: flex;
        opacity: 90%;
    }
    .send_button p{
        margin: 1px 5px;
        padding: 1px;
    }
    .send_button img{
        width: 20px;
        height: 20px;
        margin: auto;
    } 
    .send_button:hover{
        cursor: pointer;
        background: gray;
    }
    .buttons_view_fut{
        display: flex;
    }

    /* -------------------- */
    .form_poput {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background-color: white;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 3;
    }
    .window_title{
    width: 100%;
    background: #f34040;
    padding: 10px 0px;
    color: white;
    
    }
    .window_title h1{
        font-size: 25px;
        margin: 10px;
    }
    .window_title button{
        position: absolute;
        top: 18px;
        right: 10px;
        font-size: larger;
        font-weight: bold;
        color: white;
        background: none;
        border: none;
        cursor: pointer;
    }
    .form_poput hr{       
        width: 90%;
        border: 2px solid rgb(145, 144, 144);
        margin: 0px auto;
    }
    #mypass{
    /* background: #acacac; */
    display: grid;
    width: 50%;
    margin: 20px auto 20px auto;
    color: #464646;
    }
    #mypass .credent{
        margin: 20px 20px 0px 20px;
        font-size: small;
        font-weight: bold;
    }
    #mypass input[type="text"]{
        margin: 20px auto 0px auto;
        font-size: small;
        padding: 5px;
        border-radius: 5px;
        background: #cfcece;
        border: 1px solid #575757;
        font-size: large;
    }
    #error2{
        color: red;
        margin: 0px auto 20px auto;
        font-size: small;
        font-weight: normal;
    }
    .mypassoptions{
    /* background: #e79797; */
    display: grid;
    width: 50%;
    margin: 0px auto 40px auto;
    }

    .mypassoptions a{
        background: none;
        border: none;
        font-size: small;
        color: #2984fc;
        
    }
    .btn_send{
        background: #e43e3e;
        width: 50%;
        height: 40px;
        margin: 40px auto;
        border: none;
        border-radius: 4px;
        color: white;
        cursor: pointer;
        text-align: center;
    }
    .btn_send:hover{
        background: #ce3030;
    }
    .form_poput hr{       
        width: 90%;
        border: 2px solid rgb(145, 144, 144);
        margin: 0px auto;
    }

</style>

<div class="ayelash2">
    <div class="bastools">
        <a href="{% url 'n_staff_treasury' %}" style="display: flex;"><img width="25px" class="baricon" height="25px" src="{% static 'img/icon01.png' %}" alt=""></a>
        {% if mode == '1' %}
            <img onclick="postponed()" width="25px" class="baricon" height="25px" src="{% static 'img/icon02.png' %}" alt="">
            {% if position == 'treasury' %}
                <img onclick="pending()" width="25px" class="baricon" height="25px" src="{% static 'img/icon03.png' %}" alt="">
            {% endif %}
        {% endif %}
        
    </div>
    <div class="principaldiv">
        <div class="order"><p>{{objs.order}}</p></div>
        <div class="alumno">
            <img width="25px" height="25px" style="margin: auto 7px;" src="{% static 'img/procedure.png' %}" alt="">
            <p class="p_name">{{objs.name}}</p>
            <p class="p_mail">-{{objs.email}}-</p>
        </div>
        <div class="contFUT">
            <div class="logoils">
                <img height="60px" style="margin: auto 5px;" src="{% static 'img/logoils.png' %}" alt="">
                <div class="celd">
                    <label style="color: red;" for="">Num:</label>
                    <div class="text" style="width: 60px;"><p>Nº{{objs.id}}</p></div>
                </div>
            </div>
            <!--  -->
            <div class="orderils">
                <div class="celd2">
                    <label for="">SOLICITO:</label>
                    <div class="text" style="width: 300px;"><p>{{objs.myrequest}}</p></div>
                </div>
            </div>
            <!--  -->
            <div class="datails">
                <p style="font-weight: bold;">SEÑOR DIRECTOR(A) DEL INSTITUTO LATINOAMERICANO SIGLO XXI-ILS</p>
                <div class="celd" style="margin: auto 0px 10px 10px;">
                    <label for="">YO:</label>
                    <div class="text" style="width: 500px;"><p>{{objs.name}}</p></div>
                </div>
                <div class="celd" style="margin: auto 0px 10px 10px;">
                    <label for="">PROGAMA:</label>
                    <div class="text" style="width: 440px;"><p>{{objs.program}}</p></div>
                </div>
                <div style="display: flex;">
                    <div class="celd" style="margin: auto 0px 10px 10px;">
                        <label for="">CELULAR:</label>
                        <div class="text" style="width: 200px;"><p>{{objs.phone}}</p></div>
                    </div>
                    <div class="celd" style="margin: auto 0px 10px 10px;">
                        <label for="">CON CODIGO DE CARNET O Nº D.N.I:</label>
                        <div class="text" style="width: 200px;"><p>{{objs.dni}}</p></div>
                    </div>
                </div>
                <div class="celd" style="margin: auto 0px 10px 10px;">
                    <label for="">DEL:</label>
                    <div class="text" style="width: 40px;"><p>{{objs.cycle}}</p></div>
                    <label for="">CICLO, CON TODO RESPETO ME PRESENTO Y EXPONGO:</label>
                </div>
                <div class="celd2" style="display: block;">
                    <label for="">QUE POR MOTIVO DE:</label>
                    <div class="text" style="width: 600px; margin: 5px 0px;"><p>{{objs.reason}}</p></div>
                </div>
                <div class="celd2" style="display: block;">
                    <label for="">SOLICITO A SU RESPETABLE AUTORIDAD , SE SIRVA A ORDENAR:</label>
                    <div class="text" style="width: 600px; margin: 5px 0px;"><p>{{objs.order}}</p></div>
                </div>
                <p style="font-weight: bold;">POR LO EXPUESTO A USTED, SEÑOR DIRECTOR(A), RUEGO SE SIRVA ACCEDER A MI PETICIÓN POR SER DE JUSTICIA</p>
                <p style="font-weight: bold; color: blue;">Arequipa, {{objs.date}}</p>
            </div>
        </div>
        <div class="buttons_view_fut">
            {% if position == 'treasury' %}
                <div class="send_button" onclick="send_fut()"><img src="{% static 'img/sendbutton.png' %}" alt=""><p>Enviar</p></div>
                <div class="send_button" style="background: red;" onclick="pending()"><img src="{% static 'img/icon03.png' %}" alt=""><p>Pendiente de pago</p></div>
            {% elif position == 'secretary' %}
                <div class="send_button" onclick="issued_certificate()"><img src="{% static 'img/send_button.png' %}" alt=""><p>Emitir certificado</p></div>
            {% elif position == 'direction' %}
                <div class="send_button" onclick="direction_download()"><img src="{% static 'img/download.png' %}" alt=""><p>Descargar</p></div>
                <div class="send_button" style="background: red;" onclick="issued_certificate()"><img src="{% static 'img/public.png' %}" alt=""><p>Publicar Certificado</p></div>
            {% endif %}
        </div>
        
    </div>
</div>

<div class="form_poput" id="login-form-popup">
    <div class="window_title"><h1>Enviar FUT</h1><button onclick="clesed()">X</button></div>
        {% csrf_token %}
        <div id="mypass">
            <p class="credent">Introdusca aqui el numero de boleta que le proporciono el alumno</p>
            <input type="text" name="ticket" id="ticket">
            <p id="error2"></p>
        </div>
        <hr>
        <input class="btn_send" onclick="cuestion_send()" value="Enviar">
</div>
<div class="form_poput" id="cuestion_send">
    <div class="window_title"><h1>Enviar FUT</h1><button onclick="clesed()">X</button></div>
        <!-- {% csrf_token %} -->
        <div id="mypass">
            <p class="credent" id="text_p" style="font-size: large; margin: 20px 20px 0px 20px;">---</p>
        </div>
        <input class="btn_send" type="submit" onclick="yes_send()" value="Si, Enviar">
        <!-- <a href="/my_fut/download_image">Desacargar imagen</a> -->
    </form>
</div>

<style>
    .item_inssued{
        display: block;
        width: 50%;
        margin: 20px auto 20px auto;
        padding: 8px;
        color: #464646;
        background: rgb(216, 216, 216);
        width: 60%;
        text-align: center;
        border-radius: 5px;
    }
    .item_inssued p{
        margin: 1px;
        font-size: large;
        font-weight: bold;
    }
    .text_inss p{
        text-align: left;
    }
    .text_inss input[type="text"]{
        width: 96%;
        height: 20px;
        border-radius: 5px;
        padding: 3px 5px;
    }
    .btn_send{
        margin: 1px 1px;
        margin: 10px auto 30px auto;
    }
</style>

<div class="form_poput" id="cuestion_inssued">
    <div class="window_title"><h1>Emitir Certificado</h1><button onclick="clesed()">X</button></div>
    <form id="acepted_inssued" action="{% url 'n_send_inssued' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="item_inssued">
            <p>Subir Certificado:</p>
            <input type="file" id="pdf_file" name="my_pdf">
        </div>
        <div class="item_inssued text_inss">
            <p>texto</p>
            <input type="text" name="" id="">
        </div>
        <!-- <input class="btn_send" value="Enviar"> -->  
        <input type="hidden" name="fut_id" value="{{objs.id}}">
        <input type="hidden" name="fut_tittle" value="{{objs.order}}">

        <input class="btn_send" type="submit" value="Enviar">
    </form>
</div>

<div class="form_poput" id="inssued">
    <div class="window_title"><h1>Emitir Certificado</h1><button onclick="clesed()">X</button></div>
    <form id="acepted_inssued_" action="{% url 'n_send_inssued' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="mypass">
            <p class="credent" id="text_p" style="font-size: large; margin: 20px 20px 0px 20px;">Estas seguro de emitir un sertificado para el FUT Nº{{objs.id}} Correspondiente al alumno '{{objs.name}}'</p>
        </div>
        <input class="btn_send" type="submit" value="Enviar">
        <!-- <a href="/my_fut/download_image">Desacargar imagen</a> -->
    </form>
</div>


<script>
    function postponed(){
        var variable = 'Edgar';
        $.get('/viewsend/', {'id': '{{objs.id}}', 'stage': 1});

        //redireccionamos a la pagina anterior
        setTimeout(function() {
            location.replace("/ils_admin/staff_treasury");
            //location.reload(true);
        }, 100);
    }

    function pending(){
        var variable = 'Edgar';
        $.get('/viewsend/', {'id': '{{objs.id}}', 'stage': 2});

        //redireccionamos a la pagina anterior
        setTimeout(function() {
            location.replace("/ils_admin/staff_treasury");
        }, 100);
    }

    function send_fut(){
        document.getElementById("login-form-popup").style.display = "block";
    }
    function clesed(){
        document.getElementById("login-form-popup").style.display = "none";
        document.getElementById("cuestion_send").style.display = "none";
        document.getElementById("inssued").style.display = "none";
        document.getElementById("cuestion_inssued").style.display = "none";
    }
    function cuestion_send(){
        // obtenemos el numero deboleta
       var ticket = document.getElementById('ticket');
       var text_ticket = ticket.value;

       // preguntamos
       var text_p = document.getElementById('text_p');
       text_p.innerHTML = '¿Estas seguro de que el codigo de boleta es:'+text_ticket+'?'

        document.getElementById("login-form-popup").style.display = "none";
        document.getElementById("cuestion_send").style.display = "block";
    }
    function yes_send(){
        // obtenemos el numero deboleta
        var ticket = document.getElementById('ticket');
        var text_ticket = ticket.value;
        console.log("jelouda, el tiked es:"+ text_ticket);

        $.get('/send_01/', {'ticket': text_ticket, 'id': '{{objs.id}}'});
        // redireccionamos a la pagina anterior
        setTimeout(function() {
            location.replace("/ils_admin/staff_treasury");
        }, 100);
    }
    function create_certificate(){
        document.getElementById("cuestion_inssued").style.display = "block"
        console.log('emitimos el certificado')
    }
    // PARA EMITIR EL CERTIFICADO
    function issued_certificate(){
        document.getElementById("cuestion_inssued").style.display = "block"
        console.log('emitimos el certificado')
    }
    function cuestion_send_inssued(){
        console.log("CONFIRMAMOS LA EMISION DEL SERTIFICADO")
        document.getElementById("cuestion_inssued").style.display = "none"
        document.getElementById("inssued").style.display = "block"
    }
    // PARA DESCARGAR EL DOCUMENTO O CERTIFICADO
    function direction_download(){
        console.log("Descargando");

        $.get('/download/', {'id': '{{objs.id}}'});
        
    }
    // AQUÍ HACEMOS QUE SE GUARDE EL LA BD EL CERTIFICADO

    const form = document.getElementById('acepted_inssued');
    // var input_pdf = document.getElementById('pdf_file');
    // var archivo = input_pdf.files[0];

    // form.addEventListener('submit', function(event) {
    //     event.preventDefault();
    //     console.log("LOCURAA")
    //     var futId = '{{objs.id}}';
    //     var estudent_name = '{{objs.name}}';

    //     //OTRA FORMA DE ENVIAR 'AJAX'

    //     var formData = new FormData();
    //     formData.append('fut_id', futId);
    //     formData.append('student_name', estudent_name);
    //     formData.append('my_pdf', archivo);

    //     formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

    //     $.ajax({
    //     url: '/send_inssued/',
    //     type: 'POST',
    //     data: formData,
    //     processData: false,
    //     contentType: false,
    //     success: function(answer) {
    //     // Manejar la respuesta del servidor
    //     console.log("AQUIIIIIII")
    //     console.log(answer);
    //     },
    //     error: function(xhr, status, error) {
    //     // Manejar errores de la solicitud
    //     console.error(error);
    //     }
    //     });

  //asta aqui

    //});
</script>

{% endblock %}