{% extends 'layouts/base.html' %}
{% load static %}
{% block linkstyle %}
<!-- <link rel="stylesheet" href="{% static '/styles/Home.css' %}"> -->
<!-- <link rel="stylesheet" href="static/styles/index.css"> -->
<!-- <link rel="stylesheet" href="static/styles/indexx.css"> -->
{% endblock %}
{% block content %}

<!-- ----------SOLO ESTILOS DE LA PAGINA INDEX.HTML---------- -->
<style>
    .points{
        display: flex;
    }
    .qr {
        margin: auto;
        width: 500px;
        /* background: seagreen; */
    }
    section {
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        top: 0;
        left: 0;
        /* background: darkcyan; */
    }
    .content_h{
        position: relative;
        width: 100%;
        height: calc(500px + 100px);
        color: black;
        display: flex;
        flex-direction: column;
        background: rgb(89, 134, 212);
        margin: auto;
        background: radial-gradient(circle at center, #6a98e6, #3c5ca1);
        background-position: left 200px center;
        background-size: 1000px 1000px; /* Tamaño inicial */
        animation: gradientAnimation 6s linear infinite;
    }
    .subcontent {
        width: 70%;
        height: 100%;
        margin: 0px auto;
        /* background: green; */
        align-items: center;
        display: flex;
    }
    .subcont2{
        width: 50%;
        height: 100%;
        /* background: pink; */
        display: flex;
        
    }
    .subcont3{
        /* background: slateblue; */
        margin: 100px auto;
        display: flex;
        flex-direction: column;
    }
    .flotar_imagen{
        animation: floatUpDown 3s ease-in-out infinite;
        /* background: red; */
    }
    @keyframes floatUpDown {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
    }
    .subcont2 img{
        height: 400px;
        margin: auto;
    }
    .index_title{
        display: flex;
    }
    .blue{
        color: #EF0033;
    }
    .red{
        color: #fff;
    }
    .fw-light {
        font-size: 60px;
        /* background: salmon; */
        margin: 0px 5px;
        opacity: 90%;
    }
    .coment{
        color: white;
        width: 80%;
        opacity: 80%;
    }
    .mybuttons{
        /* background: darkgreen; */
        height: auto;
        display: flex;
    }
    .procedure{
        background: #EF0033;
        color: white;
        padding: 10px 25px;
        font-family: 'myfont_robot_bold';
        border-radius: 100px;
        text-decoration: none;
        margin: auto 5px auto 0px;
    }
    .consult{
        padding: 10px 25px;
        border-radius: 100px;
        margin: auto 5px auto 0px;
        display: flex;
        /* background: #EF0033; */
    }
    .consult img{
        width: 25px;
        height: 25px;
        margin: auto 5px;
    }
    .consult a{
        text-decoration: none;
        color: white;
        margin: auto;
    }
    .consult:hover{
        opacity: 0.5; /* La imagen de hover estará oculta inicialmente */
        transition: opacity 0.3s;
    }
    .procedure:hover{
        transition-duration: 0.4s;
        opacity: 100%;
        background: #b8032a;
        color: white;
    }
    .content2-h {
        width: 70%;
        margin: 10px auto 50px auto;
        color: black;
        display: block;
        /* background: green; */
    }
    .cuestions{
        width: 45%;
        margin: 10px auto;
        display: flex;
        flex-direction: column;
        /* background: blue; */
    }
    .cuestions h5 {
        color: red;
        font-size: medium;
        /* background: forestgreen; */
        margin: 0px;
    }
    .cuestions p {
        opacity: 70%;
        text-align: justify;
    }
    .cuestions a{
        color:  #476aa7;
        width: 150px;
        text-decoration: none;
        text-align: center;
        padding: 10px 30px;
        border-radius: 5px;
        border: 3px solid #476aa7;
        /* margin: auto 0px auto auto; */
        margin: auto;
        display: inline-block;
    }
    .more{
        opacity: 100%;
        color:  #476aa7;
        padding: 10px 40px;
        border-radius: 5px;
        border: 3px solid #476aa7;
        /* margin: auto 0px auto auto; */
        margin: auto;
        cursor: pointer;
    }
    .more:hover{
        background: rgb(72, 107, 168);
        color: white;
    }
    .line{
        opacity: 0;
    }
    .color_nav{
        background: rgba(72, 107, 168, 0);
    }
    .title_content{
        width: 100%;
        /* background: yellow; */
        padding: 100px 0px 60px 0px;
        display: flex;
    }
    .title{
        /* background: red; */
        margin: auto;
    }
    .title h1{
        font-size: 22px;
        font-family: 'myfont_robot_bold';
        color: #EF0033;
    }
    .title_line1{
        width: 200px;
        height: 3px;
        background: #EF0033;
        margin: 0px auto;
    }
    .title_line2{
        width: 80%;
        margin: 0px auto;
        height: 1px;
        background: rgb(190, 190, 190);
    }
    .content_cuestions{
        display: flex;
        /* background: hotpink; */
    }
    .content_complete{
        background: #F3F5FA;
        width: 100%;
        padding: 30px 0px;
        display: flex;
    }
    .ques_a{
        /* background: gray; */
        margin: 0px 0px auto auto;
    }
    .ques_b{
        /* background: gray; */
        width: 35%;
        margin: auto auto auto 0px;
    }
    .footer{
        width: 100%;
        height: 200px;
        background: #476aa7;
        display: flex;
    }
    .reasons{
        background: white;
        display: flex;
        flex-direction: column;
        padding: 10px 0px;
        margin: 10px 0px;
    }
    .reasons p{
        margin: 0px 10px;
        /* background: green; */
    }
    .reason_title{
        color: #EF0033;
        font-family: 'myfont_robot_bold';
    }
    .developer{
        margin: auto;
        display: flex;
    }
    .developer p{
        margin: 0px;
        color: white;
        margin: auto 2px;
    }
    .developer a{
        text-decoration: none;
        color: #48adf0;
        margin: auto 2px;
    }
    .developer a:hover{
        color: #58d8ff;
        /* text-decoration: underline; */
        transition-duration: 0.4s;
    }
        
    @media (max-width: 700px){
        section{
            position: relative;
            flex-direction: column;
            margin: auto;
        }
        section .subcont3{
            right: 10px;
            
        }
        section .fw-light{
            padding: 20px;
            text-align: center;
        }
        section .coment{
            line-height: 40px;
            text-align: center;
        }
        section .mybuttons{
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            
            
        }

        /*
        section .subcont2{
            bottom: 10px;
            position: absolute;
            width: auto;
            font-size: 10px;
            
            
        }
        section .subcont2 .flotar_imagen{
            width: 100%;
            height: 100%;
            z-index: 1000;
            object-fit: cover;
            
            
            
        }
        */
    }

</style>

<!-- ----------ESTILOS DE TRANCICIÓN DE OPACIDAD AL CARGAR LA PAGINA--------- -->

<style>
    .dynamic {
        opacity: 0;
        transform: translateY(20px); /* Puedes ajustar la distancia de desplazamiento vertical */
        transition: opacity 1s ease, transform 1s ease;
    }
    .dynamic2 {
        opacity: 0;
        transform: translateY(20px); /* Puedes ajustar la distancia de desplazamiento vertical */
        transition: opacity 1s ease, transform 1s ease;
    }
    .dynamic3 {
        opacity: 0;
        transform: translateY(20px); /* Puedes ajustar la distancia de desplazamiento vertical */
        transition: opacity 1s ease, transform 1s ease;
    }
    /* Aplica la animación cuando el elemento está en el viewport */
    .show {
        opacity: 1;
        transform: translateY(0);
    }
</style>

<!-- -----Una pequeña modificacion para que por temas de navbar---- -->
<style>
    .content_definitive{
        position: relative;
        top:0px;
        /* background: orange; */
    }
    .relleno{
        width: 100%;
        height: 100px;
        /* background: goldenrod; */
    }
</style>
<section>
<div class="content_h">
    <div class="relleno"></div>
    <div class="subcontent dynamic">
        <div class="subcont2">
            <div class="subcont3">
                <div class="index_title">
                    <h1 class="fw-light blue">ILS</h1>
                    <h1 class="fw-light red">TRAMITES</h1>
                </div>
                <p class="coment">ILS TRAMITES es una plataforma donde podrás realizar todos tus tramites academicos de la institucion educativa ILS. </p>
                <div class="mybuttons">
                    <a class="procedure" href="form_new_fut/identification">Realizar un Tramite</a>
                    <div class="consult">
                        <img src="/static/img/procedure.png" alt="">
                        <a href="my_fut">Consultar Tramites</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="subcont2">
            <img class="flotar_imagen" src="/static/img/front_img.png" alt="">
        </div>
    </div>
</div>
<div class="content2-h dynamic2">
    <div class="title_content">
        <div class="title">
            <h1>¿POR QUE HACER UN TRAMITE VIRTUAL?</h1>
            <div class="title_line1"></div>
            <div class="title_line2"></div>
        </div>
    </div>
    <div class="content_cuestions">
        <div class="cuestions">
            <p>Hacer trámites virtuales simplifica la vida de los estudiantes al eliminar desplazamientos, reducir tiempos de espera y minimizar el uso de papel. La inclusión de códigos QR asegura la autenticidad de los documentos y la plataforma proporciona seguimiento en tiempo real, mejorando la experiencia del usuario.</p>
            <p onclick="topscrolll()" class="more">Saber Más</p>
        </div>
        <div class="cuestions">
            <p style="font-family: 'myfont_robot_bold';">Algúnas ventajas tambien pueden ser:</p>
            <div class="points">
                <p>Eficiencia: Los trámites virtuales ahorran tiempo al evitar desplazamientos y permitir envíos instantáneos de documentos.</p>
            </div>
            <div class="points">
                <p>Ahorro de recursos: La reducción del uso de papel beneficia al medio ambiente y reduce costos.</p>
            </div>
            <div class="points">
                <p>Accesibilidad: Los estudiantes pueden realizar trámites desde cualquier lugar con conexión a internet.</p>
            </div>

        </div>
    </div>
</div>
<div class="content_complete content dynamic3">
    <div class="cuestions ques_a">
        <h5>¿Que es el codigo QR?</h5>
        <p>Un código QR (Quick Response) es un código de barras bidimensional que almacena información, como enlaces web o datos. Se escanea con un dispositivo para acceder a esa información.</p>

        <h5>¿Por que tener un certificado con QR?</h5>
        <p>Un certificado con código QR es conveniente, seguro y ecológico. Facilita el acceso, verifica la autenticidad y ahorra tiempo y recursos.</p>

        <div class="reasons">
            <p class="reason_title">1.- Verificación rápida</p>
            <p>Los códigos QR permiten verificar la autenticidad de un certificado de manera instantánea.</p>
        </div>
        <div class="reasons">
            <p class="reason_title">2.- Seguridad mejorada</p>
            <p>Los certificados con códigos QR son difíciles de falsificar, proporcionando confiabilidad.</p>
        </div>
        <div class="reasons">
            <p class="reason_title">3.- Facilita el acceso</p>
            <p>Facilita el acceso a información adicional o detalles específicos relacionados con el certificado.</p>
        </div>
    </div>
    <div class="cuestions ques_b">
        <img class="qr" src="{% static 'img/illustration_qr.png' %}" alt="">
    </div>
</div>

<div class="footer">
    <div class="developer">
        <p>Developer by</p>
        <a href="https://github.com/Edgar-ae" target="_blank">Edgar Aguirre</a>
    </div>
</div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const dynamic = document.querySelector(".dynamic");
        const dynamic2 = document.querySelector(".dynamic2");
        const dynamic3 = document.querySelector(".dynamic3");
        const line = document.querySelector(".line");
        const color_nav = document.querySelector(".color_nav");

        window.addEventListener("scroll", function () {
            // Calcula la opacidad en función de la posición de desplazamiento
            const scrollPosition = window.scrollY;
            const maxOpacityScroll = 300; // Ajusta este valor según nuestra preferencia

            // Ajusta la opacidad en función de la posición de desplazamiento
            const progress = (scrollPosition / maxOpacityScroll);
            
            //-------------------------------------------Color
            // Define los colores inicial y final
            const initialColor = "rgba(89, 134, 212, 0)"; // Color inicial con opacidad 0
            const finalColor = "rgba(89, 134, 212, 0.999)";   // Color final con opacidad 1

            const intermediateColor = interpolateColors(initialColor, finalColor, progress);         

            // Establece el color de fondo y la opacidad del elemento color_nav
            
            //--------------------------------------------/Color

            // Aignamos lo calculado a las clases
            line.style.opacity = progress > 1 ? 1 : progress;
            color_nav.style.backgroundColor = intermediateColor;
        });

        // Función para interpolar entre dos colores RGBA
        function interpolateColors(color1, color2, progress) {
            const rgba1 = color1.substring(5, color1.length - 1).split(', ');
            const rgba2 = color2.substring(5, color2.length - 1).split(', ');

            const interpolatedRGBA = [];
            for (let i = 0; i < 4; i++) {
                interpolatedRGBA[i] = Math.round(
                parseFloat(rgba1[i]) + progress * (parseFloat(rgba2[i]) - parseFloat(rgba1[i]))
                );
            }
            // Interpolación del canal alfa
            interpolatedRGBA[3] = parseFloat(rgba1[3]) + progress * (parseFloat(rgba2[3]) - parseFloat(rgba1[3]));

            return `rgba(${interpolatedRGBA.join(', ')})`;
        }
        // ----------------------------
        function checkScroll() {
            const windowHeight = window.innerHeight;

            const contentTop = dynamic.getBoundingClientRect().top;
            const contentTop2 = dynamic2.getBoundingClientRect().top;
            const contentTop3 = dynamic3.getBoundingClientRect().top;

            if (contentTop < windowHeight * 0.75) {
                dynamic.classList.add("show");
                //window.removeEventListener("scroll", checkScroll);
            }
            if (contentTop2 < windowHeight * 0.75) {
                dynamic2.classList.add("show");
                // window.removeEventListener("scroll", checkScroll);
            }
            if (contentTop3 < windowHeight * 0.75) {
                dynamic3.classList.add("show");
                window.removeEventListener("scroll", checkScroll);
            }
        }
        window.addEventListener("scroll", checkScroll);
        checkScroll(); // Comprueba el estado inicial
    });
    function topscrolll(){
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        }
</script>
{% endblock %}