{% extends 'layouts/base.html' %}
{% load static %}
{% block linkstyle %}
<!--<link rel="stylesheet" href="{% static '/styles/Home.css' %}">-->
<!--<link rel="stylesheet" href="static/styles/index.css">-->
<link rel="stylesheet" href="static/styles/indexx.css">

{% endblock %}

{% block content %}
<section>

<div class="content-h">
    <div class="subcontent">
        <h1 class="fw-light">¡Hola!</h1>
        <p class="fw-medium">¡Comienza tu proceso de trámite aquí!</p>
        <div class="mybuttons">
            <a href="form_new_fut/identification">Realizar un Tramite</a>
            <a href="my_fut">Consultar Tramites</a>
        </div>
    </div>
</div>
<style>
    .points{
        display: flex;
    }
    .points .tittle{
        font-weight: bold;
        margin: 0px 10px auto 10px;
    }
    section .content2-h .cuestions .qr {
        width: 15%;
        height: auto;
        margin: 10px 0px 10px 20px;
    }
    section .content2-h .cuestions .certi {
        width: 50%;
        left: 150px;
        margin: 10px 0px 50px 20px;
        background: #929292;
        padding: 20px 30px;
        height: auto;
    }
</style>
<div class="content2-h">
    <div class="cuestions">
        <h5>¿Por que hacer un tramite virtual?</h5>
        <p>Hacer trámites de forma virtual ofrece conveniencia y eficiencia. Elimina la necesidad de desplazamientos físicos a las oficinas, ahorra tiempo y reduce el papeleo. Además, permite acceso las 24 horas, 7 días a la semana. La tecnología facilita la verificación y seguimiento de documentos, reduce errores humanos y acelera los procesos burocráticos. También es amigable con el medio ambiente al minimizar la impresión de papel. En resumen, los trámites virtuales simplifican la vida cotidiana, agilizan la comunicación y mejoran la experiencia del usuario, haciendo que sea una opción altamente beneficiosa en la era digital.</p>
    </div>
    <div class="cuestions">
        <h5>Ventajas</h5>
        <div class="points">
            <p class="tittle">Acceso rápido:</p> <p>Los códigos QR permiten un acceso instantáneo a la información o documento en cuestión, sin necesidad de navegación complicada.</p>
        </div>
        <div class="points">
            <p class="tittle">Verificación sencilla:</p> <p>Facilitan la verificación de autenticidad y validez del documento, mejorando la seguridad y reduciendo el riesgo de falsificaciones.</p>
        </div>
        <div class="points">
            <p class="tittle">Ahorro de tiempo:</p> <p>Eliminan la necesidad de esperar en filas o realizar llamadas telefónicas para obtener documentos, lo que ahorra tiempo valioso.</p>
        </div>
        <div class="points">
            <p class="tittle">Sostenibilidad:</p> <p>La reducción del uso de papel y recursos físicos contribuye a la conservación del medio ambiente.</p>
        </div>
        <div class="points">
            <p class="tittle">Almacenamiento y respaldo:</p> <p>Los documentos digitales con códigos QR se guardan y se respaldar en la nube, asegurando su disponibilidad a largo plazo y previniendo pérdidas.</p>
        </div>
    </div>
    <div class="cuestions">
        <h5>¿Que es el codigo QR?</h5>
        <p>Un código QR (Quick Response) es un código de barras bidimensional que almacena información, como enlaces web o datos. Se escanea con un dispositivo para acceder a esa información.</p>
        <img class="qr" src="{% static 'img/qr_code.png' %}" alt="">
    </div>

    <div class="cuestions">
        <h5>¿Por que tener un certificado con QR?</h5>
        <p>Un certificado con código QR es conveniente, seguro y ecológico. Facilita el acceso, verifica la autenticidad y ahorra tiempo y recursos.</p>
        <img class="certi" src="{% static 'img/img_certificado.png' %}" alt="" >
    </div>
</div>

</section>
{% endblock %}