{% extends 'layouts/base.html' %}
{% load static %}
{% block linkstyle %}
<!-- Aun no estamos usando archivos .css -->
<!-- los estilos se estan escribiendo directamente en los .html -->
{% block linkstyle2 %}
{% endblock %}
{% endblock %}

{% block content %}
<!-- ------ESTILOS BASE QUE INCLUYE NAVBAR Y CONTAINER PRINCIPAL----- -->
<style>
    .content_f{
        background: white;
        width: 60%;
        min-height: 550px;
        max-height: 1500px;
        margin: auto; auto;
        padding: 0px 0px 30px 0px;
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid #DDDDDD;
        font-size: smaller;
        box-shadow: 5px 5px 10px #D8D8D8; /* Sombras */
        margin: 40px auto;
/*        overflow-y: scroll;*/
    }
    .navbar-f{
        width: 100%;
        height: 50px;
        display: flex;
    }
    .navbar-f-item{
        width: 33.33%;
        height: 100%;
        background: red;
    }
    .item-f{
        width: 100%;
        height: 100%;
        background: #3C5BAE;
        display: flex;
    }
    .item-ftoo{
        /* background: pink; */
        margin: auto;
        display: flex;
        justify-content: center; /*IMPORTANTE*/
        align-items: center; /*IMPORTANTE*/
    }
    .item-ftoo p{
        color: white;
        margin: auto;

    }
    .activate-f{
        height: calc(100% - 3px);
    }
    .activate-f p{
        margin: auto;
    }
/*@media (max-width:990px){
    .content_f{
        padding: 10px;
        font-size: 20px;
    }
    .navbar-f{
        padding: 50px 50px;
        width: 100%;
    }
    p{
        text-align: center;
    }
}*/
</style>


    
<!-- ------------ESTILOS Y COMPORTAMIENTOS DE LOS LABELS Y TEXTBOX---------- -->
<style>
    .from_item label{
      position: absolute;
      top: 20px;
      color: rgba(0, 0, 0, 0.664);
      font: 400 20px Roboto;
      font-size: 15px;
      cursor: text;
      margin: auto 5px;
      transition: 0.25s ease;
      font-family: Arial, Helvetica, sans-serif;
      /* background: blueviolet; */
    }
    .text_comoda {
      display: block;
      width: 100%;
      padding-top: 25px;
      padding-left: 20px;
      border: none;
      border-radius: 0;
      color: black;
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
      transition: 0.3s ease;
      margin: auto;
      font-size: 15px;
      border-radius: 3px;
      /* background: seagreen; */
    }
    .text_comoda:valid ~ label {
      top: 0;
      font: 700 12px Roboto;
      color: rgba(0, 0, 0, 0.5);
      font-family: Arial, Helvetica, sans-serif;
    }
    .text_comoda:focus {
      outline: none;
    }
    .text_comoda:focus ~ label {
      top: 0;
      font: 700 12px Roboto;
      color: red;
      font-family: Arial, Helvetica, sans-serif;
    }
    .text_comoda:focus ~ .bar:before {
      transform: translateX(0);
    }
    .text_comoda:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px red inset;
      -webkit-text-fill-color: white !important;
    }
    .bar{
      background: rgba(0, 0, 255, 0.5);
      content: "";
      width: 100%;
      height: 2px;
      transition: 0.3s ease;
      position: relative;
    
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    .bar:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 150%;
      background: red;
      transform: translateX(-100%);
    }
    @media (max-width: 990px) {
      .from_item {
        position: relative;
        margin: 10px;
        display: flex;
        width: 100%;
        max-width: 100vh;
      }
      .from_item .group {
        flex-direction: column;
      }
    }
    .item-ftoo .numeration{
        background: #CCCBCC;
        padding: 5px;
        border-radius: 50%;
        margin: auto 5px;
    }
    .item-ftoo .num_ckeck{
        background: #E1004D;
    }
</style>
<div class="content_f">
    <div class="navbar-f">
        <div class="navbar-f-item" >
            <div class="item-f {% block navbaractivate_1 %} {% endblock %}">
                <div class="item-ftoo">
                    <p class="numeration num_ckeck">01</p>
                    <p>Identificación</p>
                    <span>{% block check_1 %} {% endblock %}</span>
                </div>
            </div>
        </div>
        <div class="navbar-f-item">
            <div class="item-f {% block navbaractivate_2 %} {% endblock %}">
                <div class="item-ftoo">
                    <p id="numeration2" class="numeration">02</p>
                    <p>Tramite</p>
                    <span> {% block check_2 %} {% endblock %} </span>
                </div>
            </div>
        </div>
        <div class="navbar-f-item">
            <div class="item-f {% block navbaractivate_3 %} {% endblock %}">
                <div class="item-ftoo">
                    <p id="numeration3" class="numeration">03</p>
                    <p>Pago</p>
                    <span>{% block check_3 %} {% endblock %}</span>
                </div>
            </div>
        </div>
    </div>
    {% block contentf %}
    {% endblock %}
    <script>
        //La funcion está en 'base.html'
        //es para el navbar
        activation('nuevo_tramite');
    </script>
</div>

{% endblock %}