{% extends 'layouts/base.html' %}
{% load static %}
{% block linkstyle %}
<!-- Aun no estamos usando archivos .css -->
<!-- los estilos se estan escribiendo directamente en los .html -->
{% block linkstyle2 %}
{% endblock %}
{% endblock %}

{% block content %}
<!-- ------ESTILOS BASE QUE INCLUYE NAVBAR Y CONTAINER PRINCIPAL----- -->
<style>
    .content_f{
        /* background: salmon; */
        /* opacity: 20%; */
        width: 70%;
        height: 600px;
        margin: 0px auto;
        margin: 50px auto;
    }
    .navbar-f{
        width: 100%;
        height: 50px;
        display: flex;
    }
    .navbar-f-item{
        width: 33.33%;
        height: 100%;
        background: red;
    }
    .item-f{
        width: 100%;
        height: 100%;
        background: rgb(233, 233, 233);
        display: flex;
    }
    .item-ftoo{
        /* background: pink; */
        margin: auto;
        display: flex;
    }
    .item-ftoo p{
        color: red;
        margin: auto;

    }
    .activate-f{
        height: 92%;
    }
    .activate-f p{
        margin: auto;
        font-size: 18px;
    }
@media (max-width:990px){
    .content_f{
        padding: 10px;
        font-size: 20px;
    }
    .navbar-f{
        padding: 50px 50px;
        width: 100%;
    }
    p{
        text-align: center;
    }
}
</style>

<!-- ------------DISTRIBUCIÓN DE LOS CONTENEDORES---------- -->
<style>
    .bodyf{
        width: 100%;
        height: calc(100% - 50px); /*restamos el espacio del nav bar*/
        /* background: gold; */
        /* opacity: 20%; */
        background: #ECF2F9;
    }
    .thefrom{
        /* background: darkcyan; */
        height: 100%;
        display: flex;
    }
    .content_form{
        /* background: green; */
        width: 90%;
        height: calc(100% - 30px);
        margin: 30px auto 0px auto;
        display: flex;
        flex-direction: column;
    }
    .form_block{
        /* background: pink; */
        width: 100%;
        height: 100px;
        margin: 20px 0px 0px 0px;
        display: flex;
        justify-content: space-between;
    }
    .from_item{
        /* background: skyblue; */
        width: 45%;
        height: 100%;
        float: left;
        display: flex;
        flex-direction: column;
    }
    .from_item label{
        margin: auto 10px;
    }
    .group {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      /* background: salmon; */
    }
    .button_block{
        width: 100%;
        margin: auto 0px 20px 0px;
        display: block;
        display: flex;
        height: auto;
        /* background: saddlebrown; */
    }
    .botons_display{
        /* background: blue; */
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    .botons_display button{
        border: none;
        border-radius: 5px;
        color:white;
        background: red;
        width: 90px;
        height: 30px;
        cursor: pointer;
    }
    .botons_display button:hover{
        background: rgb(196, 17, 17);
    }
</style>
    
<!-- ------------ESTILOS Y COMPORTAMIENTOS DE LOS LABELS Y TEXTBOX---------- -->
<style>
    .from_item label{
      position: absolute;
      top: 20px;
      color: rgba(0, 0, 0, 0.664);
      font: 400 20px Roboto;
      font-size: 15px;
      cursor: text;
      margin: auto 5px;
      transition: 0.25s ease;
      font-family: Arial, Helvetica, sans-serif;
      /* background: blueviolet; */
    }
    .text_comoda {
      display: block;
      width: 100%;
      padding-top: 25px;
      padding-left: 20px;
      border: none;
      border-radius: 0;
      color: black;
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
      transition: 0.3s ease;
      margin: auto;
      font-size: 15px;
      border-radius: 3px;
      /* background: seagreen; */
    }
    .text_comoda:valid ~ label {
      top: 0;
      font: 700 12px Roboto;
      color: rgba(0, 0, 0, 0.5);
      font-family: Arial, Helvetica, sans-serif;
    }
    .text_comoda:focus {
      outline: none;
    }
    .text_comoda:focus ~ label {
      top: 0;
      font: 700 12px Roboto;
      color: red;
      font-family: Arial, Helvetica, sans-serif;
    }
    .text_comoda:focus ~ .bar:before {
      transform: translateX(0);
    }
    .text_comoda:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px red inset;
      -webkit-text-fill-color: white !important;
    }
    .bar{
      background: rgba(0, 0, 255, 0.5);
      content: "";
      width: 100%;
      height: 2px;
      transition: 0.3s ease;
      position: relative;
    
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    .bar:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 150%;
      background: red;
      transform: translateX(-100%);
    }
    @media (max-width: 990px) {
      .from_item {
        position: relative;
        margin: 10px;
        display: flex;
        width: 100%;
        max-width: 100vh;
      }
      .from_item .group {
        flex-direction: column;
      }
    }
</style>
<div class="content_f">
    <div class="navbar-f">
        <div class="navbar-f-item" >
            <div class="item-f {% block navbaractivate_1 %} {% endblock %}">
                <div class="item-ftoo">
                    <p>Identificación</p>
                    <span>{% block check_1 %} {% endblock %}</span>
                </div>
            </div>
        </div>
        <div class="navbar-f-item">
            <div class="item-f {% block navbaractivate_2 %} {% endblock %}">
                <div class="item-ftoo">
                    <p>Tramite</p>
                    <span> {% block check_2 %} {% endblock %} </span>
                </div>
            </div>
        </div>
        <div class="navbar-f-item">
            <div class="item-f {% block navbaractivate_3 %} {% endblock %}">
                <div class="item-ftoo">
                    <p>Pago</p>
                    <span>{% block check_3 %} {% endblock %}</span>
                </div>
            </div>
        </div>
    </div>
    {% block contentf %}
    {% endblock %}
    <script>
        //La funcion está en 'base.html'
        //es para el navbar
        activation('nuevo_tramite');
    </script>
        
</div>

{% endblock %}