{% extends 'create_fut/base_form_new_fut.html' %}

{% load static %}
{% block linkstyle2 %}
<!-- Aun no estamos usando archivos .css -->
<!-- Los estilos base estan en 'base_from_new_fut.html' -->
{% endblock %}
{% block contentf %}

<!-- ------SOLO ESTILOS DEL CUADRO DE PAGO------ -->
<style>
    .content_form2{
        background: #ffffff;
        width: 60%;
        height: auto;
        margin: 20px auto;
        border-radius: 5px;
        padding: 5px 0px;
    }
    .block{
        width: 95%;
        /* background: salmon; */
        display: flex;
        margin: 5px auto;
    }
    .column1{
        width: 70%;
        height: auto;
        padding: 5px 0px;
        /* background: #5add26; */
    }
    .visa{
        height: 25px;
        margin: auto 10px auto 5px;
    }
    .column1 p{
        font-size: small; opacity: 80%;
        margin: 5px 0px;
    }
    .img_ctr{
        width: 100px;
    }
    .column1 h2{
        margin: auto 0px;
        opacity: 80%;
        font-size: medium;
    }
    .column2{
        width: 30%;
        height: 50px;
        /* background: #f8d50f; */
        display: flex;
    }
    .column2 a{
        font-size: smaller;text-align: center;margin: auto;
    }
    .pay_content{
        background: #6a6a6d1c;
        display: flex;        
        margin: 5px 0px;
        padding: 10px 0px;
        width: 80%;
        border-radius: 10px;
    }
    .pay_content img{
        display: flex;
        margin: auto 10px auto auto;
        width: auto;
        height: 17px;   
    }
    .radio{
        /* background: skyblue; */
        display: flex;
        margin: auto 5px auto 10px;
    }
    .dato_other{
        /* background: salmon; */
        display: flex;
        justify-content: space-between;
    }
    .dato_other p{
        font-size: medium;
        font-family: 'myfont_robot_bold';
        margin: 5px 10px 0px 10px;
    }
    .expandir{
        width: 100%;
    }
    .paycard{
        color: #3FA1E2;
        cursor: pointer;
    }
    .paycard:hover{
        color: #288ed1;
        text-decoration: underline;
    }
</style>

<div class="bodyf">
    <form class="thefrom" action="{% url 'n_end' %}" method="post">
        {% csrf_token %}
    <div class="content_form">
        <div class="form_block">
            <div class="from_item">
                <!-- - -->
                <div class="content_form2 expandir">
                    <div class="block">
                        <div class="column1">
                            <img class="img_ctr" src="{% static 'img/fut_ctr-b.png' %}" alt="">
                            <p>Tarifa gestion: {{Monto}} PEN</p>
                        </div>
                        <div class="column2">
                        </div>
                    </div>
                    <hr>
                    <div class="block">
                        <div class="column1">
                            <p style="font-weight: bold;">Hola, {{Name}}:</p>
                            <p>Solo un paso más para realizar tu tramite.</p>
                        </div>
                        <div class="column2">
                            <a href="">mas información sobre metodos de pago</a>
                        </div>
                    </div>
                    <div class="block">
                        <div class="column1">
                            <p>metodo de pago:</p>
                            <div class="pay_content">
                                <div class="radio"><input name="typepay" type="radio" value="0" checked="checked" onclick="capturarValor(this)"/></div> Presencial por caja
                            </div>
                            <div class="pay_content">
                                <div class="radio"><input name="typepay" type="radio" value="5" onclick="capturarValor(this)"/></div>Pasarela de pago virtual
                                <img src="{% static 'img/visa.png' %}" alt="">
                            </div>
                        </div>
                        <div class="column2"></div>
                    </div>
                </div>
                <!-- - -->
            </div>
            <div class="from_item">
                <!-- - -->
                <div class="content_form2 expandir">
                    <div class="block">
                        <div class="column1 expandir">
                            <h2>Resumen</h2>
                            <p style="font-weight: bold;">Solicitud de {{Order}}</p>
                            <p>Costo Tramite: S/. {{Monto}}</p>
                            <p id="p_cargo">Cargo por Pasarela: S/. 5</p>
                            <hr>
                            <div class="dato_other">
                                <p>Total:</p>
                                <p id="p_total">S/. {{Monto}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="mode_pay_content" class="content_form2 expandir ocultar">
                    <div class="block">
                        <div id="f_p_1" class="column1">
                            <h2>Forma de pago</h2>
                            <p onclick="add_pay_card()" style="margin: 10px 0px 0px 0px;" class='paycard'>Seleccione forma de pago</p>
                        </div>
                        <div id="f_p_2" class="column1 ocultar">
                            <div style="display: flex;">
                                <img class="visa" src="{% static 'img/visa_sello.jpg' %}" alt="">
                                <h2>4557 88** **** 9055</h2>
                            </div>
                            <p onclick="add_pay_card()" style="margin: 10px 0px 0px 10px;" class='paycard'>Cambiar forma de pago</p>
                        </div>
                    </div>
                </div>
                <!-- - -->
            </div>
        </div>
        <div class="button_block">
            <div class="botons_display">
                <!-- <input type="hidden" name="name" value="{{Name}}">
                <input type="hidden" name="program" value="{{Program}}">
                <input type="hidden" name="dni" value="{{Dni}}">
                <input type="hidden" name="phone" value="{{Phone}}">
                <input type="hidden" name="cycle" value="{{Cycle}}">
                <input type="hidden" name="email" value="{{Email}}">

                <input type="hidden" name="myrequest" value="{{Myrequest}}">
                <input type="hidden" name="order" value="{{Order}}">
                <input type="hidden" name="reason" value="{{Reason}}">
                <input type="hidden" name="pdf_binary_encoded" value="{{Pdf_binary_encoded}}"> -->
                <button type="button" onclick="window.history.back()">Volver</button>
                <button type="submit">Finalizar</button>
            </div>
        </div>
    </div>
    </form>
</div>
<script>
    // -----Variables
    var name_order = "{{Order}}";
    var monto = "{{Monto}}";
</script>
<script>
    function capturarValor(radio) {
        var esp_cargo = "Cargo por Pasarela: S/. ";
        var esp_total = "S/. ";
        var taria = parseInt(monto);

        if (radio.checked) {
            var valor = radio.value;
            var valor_int = parseInt(valor);
            var mode_pay = document.getElementById("mode_pay_content");
            
            document.getElementById("p_cargo").textContent = esp_cargo+valor;
            document.getElementById("p_total").textContent = esp_total + (taria + valor_int);
            if(valor!=0){
                console.log(valor);
                mode_pay.classList.remove("ocultar");
            }else{
                mode_pay.classList.add("ocultar");
            }
        }
    }
    function add_pay_card(){
        console.log("pay card");
        //var pop_windows fue creado en base.html
        pop_windows.classList.remove("ocultar");
    }
</script>
{% endblock %}


<!-- ----- -->
{% block check_1 %}
<!-- {% if name != '' %} -->
<p style="width: 30px; text-align: center;">✅</p>
<!-- {% else %}
{% endif %} -->
{% endblock %}
<!-- ----- -->



<!-- ----- -->
{% block check_2 %}
<!-- {% if name != '' %} -->
<p style="width: 30px; text-align: center;">✅</p>
<!-- {% else %}
{% endif %} -->
{% endblock %}
<!-- ----- -->


<!-- ----- -->
{% block navbaractivate_3 %}

activate-f

{% endblock %}
<!-- ----- -->