{% extends 'create_fut/base_form_new_fut.html' %}

{% load static %}
{% block linkstyle2 %}
<!-- Aun no estamos usando archivos .css -->
<!-- Los estilos base estan en 'base_from_new_fut.html' -->
{% endblock %}

{# ESTO LO ESTAMOS HEREDANDO DE BASE.HTML #}
{% block up_pop_space %}
<!-- ------------DISTRIBUCIÓN DE LOS CONTENEDORES---------- -->
<style>
    .bodyf{
        width: 100%;
        height: calc(100% - 50px); /*restamos el espacio del nav bar*/
        /* background: gold; */
        /* opacity: 20%; */
/*        background: white;*/

    }
    .thefrom{
        /* background: darkcyan; */
        height: 100%;
        display: flex;
    }
    .content_form{
/*        background: green; */
        width: 90%;
        height: calc(100% - 30px);
        margin: 30px auto 0px auto;
        display: flex;
        flex-direction: column;
    }
    .form_block{
        /* background: pink; */
        width: 100%;
        height: 100px;
        margin: 20px 0px 0px 0px;
        display: flex;
        justify-content: space-between;
    }
    .from_item{
        /* background: skyblue; */
        width: 45%;
        height: 100%;
        float: left;
        display: flex;
        flex-direction: column;
    }
    .from_item label{
        margin: auto 10px;
    }
    .group {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      /* background: salmon; */
    }
    .button_block{
        width: 100%;
        margin: auto 0px 20px 0px;
        display: block;
        display: flex;
        height: auto;
        /* background: saddlebrown; */
    }
    .botons_display{
        /* background: blue; */
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    .botons_display button{
        border: none;
        border-radius: 5px;
        color:white;
        background: red;
        width: 90px;
        height: 30px;
        cursor: pointer;
    }
    .botons_display button:hover{
        background: rgb(196, 17, 17);
    }
</style>
<style>
    /*ESTOS SON LOS ESTILOS DEL POPUP PAY*/
    #pop_windows_2{
        margin: 150px auto auto auto;
      }
      .pop_up_window p{
        /* margin: 20px 10px; */
        opacity: 70%;
        font-size: smaller;
      }
      .area_title{
        width: 100%;
        height: auto;
        /* background: gray; */
        display: flex;
        flex-direction: column;
      }
      .area_title h3{
        margin: 5px auto;
        font-size: medium;
      }
      .save_inf{
        /* background: salmon; */
        display: flex;
        justify-content: center;
        height: auto;
      }
      .save_inf *{
        /* background: gold; */
        margin: 1px 2px;
        padding: 1px;
        color: #09AD72;
        height: 15px;
      }

      .area{
        width: 100%;
        /* background: #2c86da; */
        margin: 20px 0px;
        padding: 0px;
        display: flex;
        justify-content: space-between;
      }
      .area input[type="text"]{
        /* background: gold; */
        outline: 1px solid #838383;
        padding: 10px 5px;
        border-radius: 8px;
        border: none;
      }
      .text_1{
        width: calc(50% - 20px);
      }
      .area input[type="text"]:focus{
        outline: 1px solid #7679FA;
      }
      .buttons{
        display: flex;
        justify-content: space-between;
      }
      .buttons button{
        font-family: 'myfont_robot_bold';
        cursor: pointer;
        background: none;
        border: none;
        color: #3D9FF8;
      }
      .buttons button:hover{
        color: #2c86da;
      }
      .new_card{
        display: flex;
        /* background: pink; */
        width: 100%;
        border-radius: 6px;
        border: 1px solid #3838385d;
        cursor: pointer;
      }
      .new_card:hover{
        background: #0000000c;
      }
      .imagecard{
        height: 15px;
        margin: 3px auto 6px 5px;
      }
      .cont_card{
        /* background: greenyellow; */
        display: flex;
        flex-direction: column;
      }
      .card{
        display: flex;
        /* background: green; */
      }
      .card img{
        width: auto;
        height: 15px;
        margin: auto 2px;
      }
      .card p{
        margin: 5px 0px;
        font-family: 'myfont_robot_bold';
      }
      .warning{
        width: 100%;
        display: flex;
        background: #FFF7F4;
        padding: 15px 0px;
        border-radius: 7px;
      }
      .warning *{
        margin: 0px 5px;
        height: 15px;

      }
      .btn_save{
        margin: auto;
      }
      .btn_save button{
        padding: 5px 15px;
        border-radius: 5px;
        border: none;
        background: red;
        color: white;
        font-family: 'myfont_robot_bold';
        cursor: pointer;
      }
      .btn_save button:hover{
        background: #c70909;
      }

      /*AQUI ESTARAN LOS ESTILOS DE POPUP WAIT--------------------*/
      
</style>
<!-- -----------Share------------- -->
<div id="pop_windows" class="pop_up_window_content ocultar">
  <div id="pop_windows_1" class="pop_up_window">
    <div onclick="close_pop_up()" class="close" style="right: 15px;">
      <svg viewBox="0 0 1024 1024" fill="currentColor" aria-hidden="false" focusable="false"><path d="M181.088 135.936l1.536 1.44L512 466.741333l329.376-329.365333a32 32 0 0 1 46.688 43.712l-1.44 1.536L557.258667 512l329.365333 329.376a32 32 0 0 1-43.712 46.688l-1.536-1.44L512 557.258667 182.624 886.624a32 32 0 0 1-46.688-43.712l1.44-1.536L466.741333 512 137.376 182.624a32 32 0 0 1 43.712-46.688z"></path></svg>
    </div>
    <div class="area_title">
      <h3>Método de pago</h3>
      <div class="save_inf">
        <img src="{% static 'img/tps.png' %}" alt="">
        <p>tu información de pago está segura con nosotros</p>
      </div>
    </div>
    <div class="area">
      <div class="new_card" onclick="new_card()">
        <div class="radio">
          <input name="type_pay" type="radio" value="0" checked="checked"/>
        </div>
        <div class="cont_card">
          <div class="card"><img src="{% static 'img/card.png' %}" alt=""><p>Añadir una nueva targeta</p></div>
          <img class="imagecard" src="{% static 'img/visa.png' %}" alt="">
        </div>

      </div>
    </div>
    <div class="buttons ocultar">
      <button onclick="close_pop_up()">Descartar Tramite</button>
      <button onclick="close_pop_up()">Cancelar</button>
    </div>
  </div>
  <!-- - -->
  <div id="pop_windows_2" class="pop_up_window ocultar">
    <div onclick="new_card_back()" class="close" style="left: 15px;">
      <svg viewBox="0 0 1024 1024" fill="currentColor" aria-hidden="false" focusable="false"><path d="M166.218667 471.285333l1.888-1.984 331.157333-331.157333a32 32 0 0 1 46.698667 43.722667l-1.44 1.536L247.146667 480.768h594.752a32 32 0 0 1 1.877333 63.946667l-1.877333 0.053333H247.146667l297.386666 297.376a32 32 0 0 1 1.429334 43.722667l-1.44 1.536a32 32 0 0 1-43.722667 1.44l-1.536-1.44L168.106667 556.234667a61.472 61.472 0 0 1-1.888-84.949334z"></path></svg>
    </div>
    <div class="area_title">
      <h3>Proporcionar más información</h3>
      <div class="save_inf">
        <img src="{% static 'img/tps.png' %}" alt="">
        <p>tu información de pago está segura con nosotros</p>
      </div>
    </div>
    <div class="area">
      <div class="warning">
        <img src="{% static 'img/card.png' %}" alt="">
        <p>Añade una nueva tarjeta</p>
        <img class="imagecard" src="{% static 'img/visa.png' %}" alt="">
      </div>
    </div>
    <div class="area">
      <input type="text" name="" class="text_1" placeholder='Número de tarjeta'>
      <input type="text" name="" class="text_1" placeholder='Nombre del titular de targeta' value="{{Name}}" id="">
    </div>
    <div class="area">
      <div class="subarea text_1" style="display: flex; justify-content: space-between;">
        <input type="text" name="" class="text_1" placeholder='MM'>
        <p style="margin: auto 0px;">/</p>
        <input type="text" name="" class="text_1" placeholder='YY'>
      </div>

      <input type="text" name="" class="text_1" placeholder='CVV'>
    </div>
    <div class="area">
      <div style="display: flex;">
        <div class="radio">
          <input name="type_pay" type="radio" value="0" checked="checked"/>
        </div>
        <p>Guardar esta targeta</p>
      </div>
    </div>
    <div class="area">
      <div class="btn_save">
        <button onclick="save_and_continue()">Guardar y continuar</button>
      </div>
    </div>
    <div class="buttons ocultar">
      <button onclick="close_pop_up()">Descartar Tramite</button>
      <button onclick="close_pop_up()">Cancelar</button>
    </div>
  </div>
</div>

<div id="pop_loader" class="pop_up_window_content ocultar">
    <!-- {# Context pop_up #} -->
    <style>
        /* Estilos de la ventana de carga */
        .loader {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .loader-text {
            color: white;
            margin: 0px 5px;
        }
        /* Estilos para la animación de carga (puedes personalizarlos según tus necesidades) */
        .loader-spinner {
            border: 4px solid rgba(255, 255, 255, 0.3);
            border-top: 4px solid #3498db;
            border-top: 4px solid red;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            animation: spin 2s linear infinite;
        }
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
    <div class="loader">
        <div class="loader-spinner"></div>
        <div class="loader-text">Cargando...</div>
    </div>
    <!-- {#/Context pop_up #} -->
</div>

{% endblock %}
<!-- aqui termina el pup-op -->
{% block contentf %}
<!-- ------SOLO ESTILOS DEL CUADRO DE PAGO------ -->
<style>
    .content_form2{
        background: #ffffff;
        width: 60%;
        height: auto;
        margin: 20px auto;
        border-radius: 5px;
        padding: 5px 0px;
    }
    .block{
        width: 100%;
        /* background: salmon; */
        display: flex;
        margin: 5px auto;
    }
    .column1{
        width: 100%;
        height: auto;
        padding: 5px 0px;
/*         background: #5add26;*/
    }
    .visa{
        height: 25px;
        margin: auto 10px auto 5px;
    }
    .column1 p{
        font-size: small; opacity: 80%;
        margin: 5px 0px;
    }
    .img_ctr{
        width: 100px;
    }
    .column1 h2{
        margin: auto 0px;
        opacity: 80%;
        font-size: medium;
    }
    .column2{
        width: 30%;
        height: 50px;
        /* background: #f8d50f; */
        display: flex;
    }
    .column2 a{
        font-size: smaller;text-align: center;margin: auto;
    }
    .pay_content{
        background: #6a6a6d1c;
        display: flex;        
        margin: 5px 0px;
        padding: 10px 0px;
        width: 100%;
        border-radius: 10px;
    }
    .pay_content img{
        display: flex;
        margin: auto 10px auto auto;
        width: auto;
        height: 17px;   
    }
    .radio{
        /* background: skyblue; */
        display: flex;
        margin: auto 5px auto 10px;
    }
    .dato_other{
        /* background: salmon; */
        display: flex;
        justify-content: space-between;
    }
    .dato_other p{
        font-size: medium;
        font-family: 'myfont_robot_bold';
        margin: 5px 10px 0px 10px;
    }
    .expandir{
        width: 100%;
    }
    .paycard{
        color: #3FA1E2;
        cursor: pointer;
    }
    .paycard:hover{
        color: #288ed1;
        text-decoration: underline;
    }
    .num_cuneta_cont{
        background: #CFCFCF;
        display: flex;
        width: 100%;
        border: none;
        margin: 5px auto;
        padding: 8px;
        border-radius: 7px;
        align-items: center;
        text-align: center;
        justify-content: center;
        cursor: pointer;
    }
    .num_cuneta_cont:hover{
        opacity: 80%;
    }
    .num_cuneta_cont img{
        height: 15px;
        margin: auto 0px;
    }
    .persona_cuenta{
        display: flex;
    }
    .persona_cuenta p{
        color: ;
        margin: 5px 10px auto 0px;
        color: #288ed1;
        cursor: pointer;
    }
    .persona_cuenta p:hover{
        text-decoration: underline;
    }
    .ocultar{
        display: none;
    }
</style>

<div class="bodyf">
    <form id="id_form_pay" class="thefrom" action="{% url 'n_end' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
    
    <!-- --------NUEVO FORM ---------- -->
    <!-- ----------STILOS DEL NUEVO FORM-------- -->
    <style>
        .content2_form{
            width: 80%;
            margin: 0px auto;
/*            background: yellow;*/
            display: flex; /*IMPORTANTE*/
            flex-direction: column;
        }
        .content2_form .TheTitle{
            font-size: large;
            margin: 15px auto 5px auto;
        }
        .content2_form p{
/*            margin: 0px auto;*/
        }
        .fila_form{
            width: 70%;
            margin: 30px auto 0px auto;
/*            background: salmon;*/
            display: flex;
            justify-content: space-between;
        }
        .unEspacio_mediano{
            width: 100%;
/*            background: red;*/
            display: flex;
            position: relative; /*importante*/
        }
        .unEspacio_mediano input[type="text"]{
            width: calc(100% - 0px);/*MENOS EL PADDING DEL inpur text*/
            padding: 8px 10px;
            margin: 0px;
            border: 1px solid gray;
            border-radius: 10px;
        }
        .unEspacio_mediano input[type="text"]:focus{
            outline: none;
        }
        .unEspacio_mediano label{
            position: absolute;/*importante*/
            top: -8px;
            background: white;
            color: gray;
            left: 15px;
            padding: 0px 5px;
        }
        .unEspacio_entero{
            width: 100%;
/*            background: red;*/
            display: flex;
            position: relative; /*importante*/
        }
        .unEspacio_entero input[type="text"]{
            width: 100%;
            padding: 8px 10px;
            margin: 0px;
            border: 1px solid gray;
            border-radius: 10px;
        }
        .unEspacio_entero input[type="text"]:focus{
            outline: none;
        }
        .unEspacio_entero label{
            position: absolute;/*importante*/
            top: -8px;
            background: white;
            color: gray;
            left: 15px;
            padding: 0px 5px;
        }
        .cont_buttons_form{
/*            background: purple;*/
            width: 50%;
            margin: 30px auto 0px auto;
            display: flex;
            justify-content: space-between;
        }
        .cont_buttons_form button{
            height: 30px;
            background: #E1004D;
            color: white;
            border: none;
            display: flex;
            justify-content: center; /*IMPORTANTE*/
            align-items: center; /*IMPORTANTE*/
            padding: 2px 10px;
            border-radius: 40px;
            cursor: pointer;
        }
        .cont_buttons_form button:hover{
            background: #B90B47;
        }
        .cont_buttons_form img{
            height: 50%;
            margin: auto 5px;
        }
        .ocultar{
            display: none;
        }
    </style>
    <!-- ----STILOS DE AGREGADO SOLO PARA PROCESS--- -->
    <style>
        .unEspacio_entero textarea{
            width: 100%;
            padding: 8px 10px;
            margin: 0px;
            border: 1px solid gray;
            border-radius: 10px;
        }
    </style>
    <!-- //ARREGLOS DE STYLES -->
    <style>
        .resumen{
            width: 100%;
        }
        .resumen p{
            margin: 2px 0px;
            opacity: 80%;
        }
        .select_img_cnt{
            width: 100%;
/*            background: red;*/
            height: 30px;
        }
        .select_img_cnt input{
/*            display: none;*/
        }
        .select_img_cnt label{
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center; /*IMPORTANTE*/
            align-items: center; /*IMPORTANTE*/
            border-radius: 10px;
            padding: 0px;
            color: black;
            position: static;/*importante*/
/*            background: #E9E9E9;*/
            border: 1px solid gray;
            font-size: small;
            cursor: pointer;
            background: purple;
            color: white;
        }
        .select_img_cnt label img{
            height: 15px;
            margin: auto 5px;
        }
        .red{
            color: red;
        }
        .gasto{
/*            background: gray;*/
            display: flex;
            justify-content: space-between;
        }
        .gasto p{
            margin: 5px 20px;
            font-weight: bold;
        }
        .pay_tipe{
            display: flex;
            padding: 5px 0px;
        }
        .pay_tipe p{
            margin: 0px 5px;
        }
        .peru_pay_cont{
            background: #E4E4E4;
            display:flex;
            padding: 10px 0px;
            border-radius: 3px;
        }
        .peru_pay{
/*            background: pink;*/
            display: flex;
            flex-direction:column;
            margin: 0px 10px;
        }
        .peru_pay img{
            border-radius: 5px;
        }
        .peru_check{
            margin: 5px auto 0px auto;
        }
/*        --------*/
        .form_yape{
            display:flex;
            flex-direction:column;
            align-items: center; /*IMPORTANTE*/
        }
        .form_yape h3{
            font-weight: bold;
            color: purple;
        }
        .qr_img{
            height: 200px;
        }
        .num_cel{
/*            background: purple;*/
            border: 3px dotted purple;
            padding: 5px 10px;
        }
        .num_cel h3{
            margin:0px;
            font-weight: bold;
            color: purple;
        }
        .total_num{
/*            background: yellow;*/
            margin: 15px auto;
            display: flex;
            flex-direction: column;
            align-items:center;
        }
        .total_num p{
            margin: 5px 0px;
        }
        .total_num h2{
            margin:0px;
        }
    </style>
    <div class="content2_form">
        <p class="TheTitle">Facturación del Tramite</p>
        <p style="margin: 0px auto;">Por favor seleccione el motodo y realize el pago.</p>
        <!-- -- -->
        <div id="fila_1" class="fila_form ocultar">
            <div class="form_yape">
                <img src="/static/img/yape_logo2.png">
                <p>Escanea nuesto código QR o agregue nuesto número de celular en la app Yape y realice el pago.</p>
                <img class="qr_img" src="/static/img/miyape_qr.png">
                <h3>{{yape_name}}</h3>
                <div class="num_cel">
                    <h3>{{yape_num}}</h3>
                </div>
                <div class="total_num">
                    <p>Total a pagar:</p>
                    <h2>S/.{{Monto}}.00</h2>
                </div>
                <!-- ---- -->
                <div class="unEspacio_mediano">
                    <div class="block">
                        <div id="f_p_0" class="column1">
                            <p id="baucher_warning"><strong>Subir foto del Baucher</strong></p>
                            <p id="baucher_warning">Una vez ya realizado el pago debera de tomarle una captura de pantalla a la boleta digital de pago que le genera la app yape al ya haber completado el pago.</p>
                            <div class="select_img_cnt">
                                <input type="file" id="photo_id" style="display: none;" name="img_pay" accept=".png, .jpg">
                                <label id="txt_photo" for="photo_id">Subir Foto <img src="{% static 'img/img_icon_small.png' %}"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ---- -->
            </div>
        </div>
        <!-- -- -->
        <div id="fila_2" class="fila_form" style="flex-direction: column;">
            
            <div class="unEspacio_entero">
                <div class="pay_tipe">
                    <input class="opcion" name="typepay_" type="radio" value="none" checked disabled/> <p>QR Pagos Perú</p>
                </div>
            </div>
            <div class="unEsoacio_entero">
                <div class="peru_pay_cont">
                    <div class="peru_pay">
                        <img src="/static/img/yape_icon.png">
                        <input class="peru_check" name="pay_yape" type="radio" value="5" checked />
                    </div>
                    <div class="peru_pay">
                        <img src="/static/img/plin_logo.png">
                        <input class="peru_check" name="pay_yape" type="radio" value="5" disabled />
                    </div>
                </div>
            </div>
        </div>
        <!-- --------------------- -->
        <!-- - -->
        <div id="fila_3" class="fila_form">
            <div class="unEspacio_entero" style="display:block;">
                <h3>Resumen</h3>
                <p>{{Order}}</p>
                <hr>
                <div class="gasto">
                    <p>Subtotal</p>
                    <p>S/.{{Monto}}</p>
                </div>
                <hr>
                <!-- -- -->
                <div class="gasto">
                    <p>Pasarela</p>
                    <p>S/0.0</p>
                </div>
                <hr>
                <!-- -- -->
                <div class="gasto">
                    <p>Total</p>
                    <p>S/.{{Monto}}</p>
                </div>
                <hr>
                <!-- -- -->
            </div>
        </div>
        <!-- ------------- -->
        <div class="cont_buttons_form">
            <!-- LO QUE RECIBIMOS DE IDENTIFICACIÓN -->
            <input type="hidden" name="name" value="{{ Name }}">
            <input type="hidden" name="full_name" value="{{ Full_name }}">
            <input type="hidden" name="email" value="{{ Email }}">
            <input type="hidden" name="phone" value="{{ Phone }}">
            <input type="hidden" name="dni" value="{{ Dni }}">
            <input type="hidden" name="cycle" value="{{ Cycle }}">
            <input type="hidden" name="program" value="{{ Program }}">
            <!-- Siguiente Ronda -->
            <input type="hidden" name="myrequest" value="{{ Myrequest }}">
            <input type="hidden" name="order" value="{{ Order }}">
            <input type="hidden" name="order_id" value="{{ Order_id }}">
            <input type="hidden" name="monto" value="{{ Monto }}">
            <input type="hidden" name="reason" value="{{ Reason }}">
            <input type="hidden" name="attach_file_name" value="{{ Attach_file_name }}">
            <input type="hidden" name="user" value="{{ user.id }}">
            <input id="mybaucher" type="hidden" name="baucher" value="">

            <input type="hidden" name="typepay" value="deposito">

            <button onclick="window.history.back()"><img src="{% static 'img/former_form.png' %}" alt="">Anterior</button>
            <p></p>
            <button type="submit">Siguiente<img src="{% static 'img/next_form.png' %}" alt=""></button>
        </div>
    </div>

    </form>
</div>
<script>
    // -----Variables
    var name_order = "{{Order}}";
    var monto = "{{Monto}}";
    var pop_loader = document.getElementById("pop_loader");
</script>
<script>
    document.getElementById("id_form_pay").addEventListener("submit", function (event) {
        if (window.view_pay !== true){
            event.preventDefault();
            view_pay_yape();
        }else if (document.getElementById("mybaucher").value == "") {
            event.preventDefault();//prevenimos el envio
            const warning_baucher = document.getElementById("baucher_warning");
            warning_baucher.classList.add("red");
            warning_baucher.innerHTML = "*Subir foto del Baucher (obligatorio)";
        }
    });

    function capturarValor(radio) {
        var esp_cargo = "Cargo por Pasarela: S/. ";
        var esp_total = "S/. ";
        var taria = parseInt(monto);
        var f_p_0 = document.getElementById('f_p_0');
        var f_p_1 = document.getElementById('f_p_1');
        var f_p_2 = document.getElementById('f_p_2');

        if (radio.checked) {
            var valor = radio.value;
            var valor_int = parseInt(valor);
            
            document.getElementById("p_cargo").textContent = esp_cargo+valor;
            document.getElementById("p_total").textContent = esp_total + (taria + valor_int);
            if(valor!=0){
                f_p_0.classList.add('ocultar');
                f_p_1.classList.remove('ocultar');
                f_p_2.classList.add('ocultar');
            }else{
                f_p_0.classList.remove('ocultar');
                f_p_1.classList.add('ocultar');
                f_p_2.classList.add('ocultar');
            }
        }
    }
    function add_pay_card(){
        console.log("pay card");
        //var pop_windows fue creado en base.html
        pop_windows.classList.remove("ocultar");
    }
    //SUBIR BAUCHER-----
    var photo_id = document.getElementById("photo_id");
    photo_id.addEventListener('change', function(event){
        // Obtener la lista de archivos seleccionados
        var archivos = event.target.files;

        // Hacer algo con los archivos seleccionados
        for (var i = 0; i < archivos.length; i++) {
            const name = archivos[i].name;
            const tipo = archivos[i].type;
            console.log(tipo);
            document.getElementById("txt_photo").innerHTML = paint_file(name);
            document.getElementById('mybaucher').value = 'true';
        }
    });
    function paint_file(name){
        if (name.length > 20) {
            if(name.length > 24){
                var shortened_name = name.substring(0, 20);
                var tipo = name.substring(name.length - 3);
                return shortened_name+'...'+tipo;
            }else{
                var shortened_name = name.substring(0, 16);
                var tipo = name.substring(name.length - 3);
                return shortened_name+'...'+tipo;
            }
        }else{
            return name;
        }
    }
    tramite_otros();
    function tramite_otros(){
        var theorder = "{{ Order }}";
        if (theorder == 'Otros') {
            document.getElementById("f_p_0").classList.add("ocultar");
            document.getElementById("mybaucher").value = "completed";
        }
    }
    function view_pay_yape(){
        console.log("PUM");
        document.getElementById("fila_1").classList.remove("ocultar");
        document.getElementById("fila_2").classList.add("ocultar");
        document.getElementById("fila_3").classList.add("ocultar");
        window.view_pay = true;
    }
</script>

<script>
    document.getElementById("numeration2").classList.add("num_ckeck");
    document.getElementById("numeration3").classList.add("num_ckeck");
</script>

{% endblock %}


<!-- ----- -->
{% block check_1 %}
<!-- {% if name != '' %} -->
<p style="width: 30px; text-align: center;">✅</p>
<!-- {% else %}
{% endif %} -->
{% endblock %}
<!-- ----- -->



<!-- ----- -->
{% block check_2 %}
<!-- {% if name != '' %} -->
<p style="margin: auto 2px;">✅</p>
<!-- {% else %}
{% endif %} -->
{% endblock %}
<!-- ----- -->


<!-- ----- -->
{% block navbaractivate_3 %}

activate-f

{% endblock %}
<!-- ----- -->