{% extends 'view_fut/observations.html' %}
{% load static %}

{% block linkstyle %}
{% endblock %}


{% block content_2 %}

<h1>hhhhhhhhhhhsdejdwefdwek</h1><h1>hhhhhhhhhhhsdejdwefdwek</h1><h1>hhhhhhhhhhhsdejdwefdwek</h1><h1>hhhhhhhhhhhsdejdwefdwek</h1><h1>hhhhhhhhhhhsdejdwefdwek</h1>

<div id="cont_register">
	<!-- AQUI ESTA LA LISTA DE TICKETS -->
	<h3 class="empty">Esta lista esta bacia...</h3>
</div>

<script type="module">
	import { style_navbar } from "{% static 'scripts/view_fut/observations/script.js' %}";
	// ESTILOS PARA LA NAVBAR
	style_navbar("observation");
</script>
<script type="module">
	import { open_observations,style_navbar, manage_rute } from "{% static 'scripts/view_fut/observations/script.js' %}";
	// COOKIE MANAGE
	import { obtenerValorCookie } from '/static/scripts/cookies.js';
	console.log("AQUIIIIIIIIII");
	// GENERAMOS LA LISTA DE OBSERVACIONES
	open_observations('admin');
	//OBTNEMROS LA COOKIE ORDER
	let fut_order = obtenerValorCookie('fut_order');
	// ESCRIBIMOS LA RUTA
	let list_name = [fut_order, "Observaciones"];
	manage_rute(list_name);
</script>
{% endblock %}
