{% extends 'view_fut/observations.html' %}
<!-- {% load static %} -->

{% block content_2 %}
<style>
	.cont_message{
		background: white;
		width: calc(100% - 20px);
		margin: 0px auto;
		height: calc(100vh - 200px);
		overflow-y: scroll;
	}
	.davbbar{
		width: calc(100% - 20px);
		background: #E2E2E2;
		padding: 10px;
		border-radius: 7px 7px 0px 0px;
		display: flex;
		align-items: center; /*IMPORTANTE*/
	}
	.davbbar p{
		margin: 0px;
		padding: 0px;
		font-weight: bold;
		font-size: smaller;
	}
	.davbbar img{
		height: 20px;
		margin: auto 5px;
	}
	.atras{
		cursor: pointer;
	}
	.atras:hover{
		opacity: 80%;
	}
	.block{
		display: flex;
/*		background: yellow;*/
	  	align-items: center; /*IMPORTANTE*/
	  	margin: 5px 0px;
	}
	.cont_main_message{
		padding: 15px;
	}
	.user_img{
		height: 40px;
		width: 40px;
		border-radius: 50%;
		margin: 0px 5px;
/*		background: red;*/
	}
	.block h4{
		margin: 0px;
		padding: 0px;
	}
	.block p{
		white-space: pre-line;
		font-size: small;
	}
	.text_space{
/*		background: green;*/
		width: calc(100% - 100px);
		margin: 0px auto;
		display: block;
	}
	.img_identification{
		height: 70px;
		margin: 10px 0px;
	}
	.respoder{
		color: red;
		margin: 5px 10px 20px 10px;
		background: none;
		border: none;
		align-items: center; /*IMPORTANTE*/
		display: flex;
		cursor: pointer;
	}
	.respoder img{
		height: 20px;
		margin: 0px 5px;
	}
	.respoder:hover{
		opacity:80%;
	}
	.cont_img_desarrollo{
		background: #F4F4F4;
		padding: 10px 0px;
		display: flex;
		position: relative; /*importante*/
	}
	.img_desarrollo{
		height: 200px;
		margin: 0px 10px;
		border-radius: 3px;
	}
	.elHoverDeImg{
		width: 200px;
		height: 200px;
		background: black;
		position: absolute;/*importante*/
		top: 10px;
		left: 10px;
		border-radius: 3px;
		cursor: pointer;
		display: flex;
		opacity: 0%;
	}
	.elHoverDeImg:hover{
		opacity: 20%;
	}
	.zoom_icon{
		width: 25%;
		margin: auto;
	}
</style>
<!-- ESTA ID SE RELLENA EN static\scripts\view_fut\observations\script_module.js -->
<div id="cont_register">
	<!-- AQUI ESTA LA LISTA DE TICKETS -->
	<h3 class="empty">Esta lista esta bacia...</h3>
</div>
<div id="cont_low_register">
</div>

<script type="text/javascript">
	function create_desarrollo(){
		console.log("EMBAPE_22");
		console.log("{{ id_ticket }}");
		var id_ticket = "{{ id_ticket }}";
		document.getElementById("pop_windows_create_desarrollo").classList.remove("ocultar");
		document.getElementById("form_id_ticket2").value = id_ticket;
	}
	// PARA VISUALIZAR EN GRANDE LA IMAGEN
	function show_img(id){
		console.log("la id de la imagen es: "+id);
		let pop_up_HTML = `
		<div class="pop_up_window_content">
		  <div class="pop_up_cont_img">
		    <div onclick="close_create_ticket()" class="close">
		      <svg viewBox="0 0 1024 1024" fill="currentColor" aria-hidden="false" focusable="false"><path d="M181.088 135.936l1.536 1.44L512 466.741333l329.376-329.365333a32 32 0 0 1 46.688 43.712l-1.44 1.536L557.258667 512l329.365333 329.376a32 32 0 0 1-43.712 46.688l-1.536-1.44L512 557.258667 182.624 886.624a32 32 0 0 1-46.688-43.712l1.44-1.536L466.741333 512 137.376 182.624a32 32 0 0 1 43.712-46.688z"></path></svg>
		    </div>
		    <img class="pop_up_img" src="/static/img/borrar_esto.png" alt="">
		  </div>
		</div>
		`;
		document.getElementById("pop_windows_general").innerHTML = pop_up_HTML;
	}
</script>

<!-- AQUI VA EL CONTENT PARA EL MESSAGE -->
<script type="module">
	import { style_navbar, messages_ticket, manage_rute } from "{% static 'scripts/view_fut/observations/script.js' %}";
	// COOKIE MANAGE
	import { obtenerValorCookie } from '/static/scripts/cookies.js';
	messages_ticket("{{ id_ticket }}");
	//OBTNEMROS LA COOKIE ORDER
	let fut_order = obtenerValorCookie('fut_order');
	// ESCRIBIMOS LA RUTA
	let list_name = [fut_order, "Observaciones", "Se adjunto la foto del bauche..."];
	manage_rute(list_name);

	// NAVBAR
	let charge_ticket = "{{ charge_ticket }}";
	let charge = (charge_ticket == "alumno") ? 'ticket' : 'observation';
	style_navbar(charge);
</script>
{% endblock %}