{% extends 'layouts/mainadmin.html' %}
{% load static %}

{% block position %}
<h2 class="position">/ {{Data_log.position_admin2}} </h2>
{% endblock %}

{% block content %}
<style>
    .block_container{
        /* background: red; */
        width: 100%;
        height: auto;
        margin: 10px 0px;
    }
    .block_bloker{
        width: 100%;
        height: auto;
        /* background: pink; */
        display: flex;
    }
    .block_one{
        width: 20%;
        height: 800px;
        background: #464646;
        margin: 0px 10px 0px auto;
        border-radius: 4px;
    }
    .block_two{
        width: calc(80% - 30px);
        height: 100%;
        /* background: green; */
        margin: 0px auto 0px 0px;
    }
    .ayelash{
        width: 100%;
        height: 50px;
        background: #464646;
        margin: 0px 0px 10px 0px;
        display: flex;
        justify-content: space-between;
        /* font-weight: bold; */
        text-decoration: none;
        color: white;
        border-radius: 4px;
    }
    .ayelash_color{
        background: #5C5C5C;
    }
    .ayelash:hover{
        background: #707070;
    }
    /* ----------------------------------------------------- */
    .info1{
        /* background: red; */
        display: block;
        margin: 15px 0px;
    }
    .name{
        /* background:green; */
        font-size: large;
        opacity: 80%;
        margin: 20px 0px 0px 0px;
        display: block;
    }
    .name p{
        margin: 0px 10px;
    }
    .name2{
        background: rgb(82, 82, 82);
        display: flex;
        
        margin: 10px 0px 0px 0px;
        padding: 10px;
    }
    .name2 .signal{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: auto 0px;
    }
    .name2 .eltext{
        margin: 0px auto 0px 10px;
        font-weight: bold;
    }
    .numb{
        margin: 0px 10px 0px auto;
        font-weight: bold;
    }
    .red_a{
        color: red;
    }
    .green_a{
        color: #1be61b;
    }
    .red_b{
        background: red;
    }
    .green_b{
        background: #1be61b;
    }
    .label{
        /* background: pink; */
        padding: 10px 2px;
    }
    .label1{
        background: rgb(83, 83, 83);
        margin: 5px 0px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        padding: 10px;
        color: white;
        text-decoration: none;
    }
    .label1:hover{
        background: rgb(117, 117, 117);
    }
    .filauno{
        width: 30%;
        /* background: salmon; */
        display: flex;
    }
    .filauno h2{
        background: #707070;
        padding: 1px 20px;
        margin: 10px 1px;
        text-align: center;
        align-items: center;
        display: flex;
        border-radius: 5px;
        font-size: smaller;
        opacity: 70%;
    }
    .filados{
        width: 70%;
        /* background: red; */
        display: flex;
    }
    .ayelash p{
        margin: auto 7px;
    }
/* ----------------------------- */
    .navbar_extra{
        display: flex;
        justify-content: space-between;
        /* background: red; */
    }
    .prncipalcoso{
        /* background: green; */
        height: 60px;
        margin: 0px auto 10px 0px;
        display: flex;
    }
    .label_principal{
        /* background: salmon; */
        border-bottom: 4px solid rgb(52, 101, 236);
        justify-content: center;
        width: 200px;
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 0px 10px 0px 0px;
    }
    .label_principal p{
        margin: 2px;
        font-weight: bold;
        opacity: 90%;
    }
    .label_principal .paa{
        background: green;
        padding: 4px;
        border-radius: 20px;
        font-size: smaller;
    }
    .chanels{
        /* background: #1be61b; */
        width: 25px;
        height: 25px;
        align-items: center;
        text-align: center;
        margin: auto 10px;
        opacity: 90%;
        cursor: pointer;
    }
    .chanels p{
        margin: 0px;
        padding: 0px;
        font-weight: bold;
        font-size: 20px
    }
    .chanels:hover{
        opacity: 50%;
    }
</style>
<div class="block_container">
    <div class="block_bloker">
        <div class="block_one">
            <div class="info1">
                <div class="name"><p>{{Data_log.position_admin1}} - {{Data_log.admin_name}}</p></div>
                <div class="name2"><div class="signal green_b"></div><p class="eltext">pendientes</p><p class="numb green_a">{{Data_log.num_futs}}</p></div>
            </div>
            <div class="label">
                <a href="{% url 'n_staff_treasury' %}" class="label1"><img width="20px" height="20px" style="margin: auto 7px;" src="{% static 'img/procedure.png' %}" alt="">Todos</a>
                <a href="{% url 'n_postulated' %}" class="label1"><img width="20px" height="20px" style="margin: auto 7px;" src="{% static 'img/icon02.png' %}" alt="">Pospuestos</a>
                {% if Data_log.position_admin1 == 'Tesorera' %}
                    <a href="{% url 'n_pending' %}" class="label1"><img width="20px" height="20px" style="margin: auto 7px;" src="{% static 'img/icon03.png' %}" alt="">Pendientes</a>
                {% endif %}
                <a href="{% url 'n_send' %}" class="label1"><img width="20px" height="20px" style="margin: auto 7px;" src="{% static 'img/send.png' %}" alt="">Enviados</a>
            </div>
        </div>
        <div class="block_two" id="miContenedor">
            {% block fut %}

            {% if Len_list_data != 0 %}
            <div class="navbar_extra">
                <div class="prncipalcoso">
                    <div class="label_principal"><p>Principal</p></div>
                    <div class="label_principal">
                        <p>No Leidos</p>
                        {% if views == 0 %}
                            <p class="paa" style="background: #5C5C5C;">{{views}} Nuevos</p>
                        {% else %}
                            <p class="paa">{{views}} Nuevos</p>
                        {% endif %}
                    </div>
                </div>
                <div style="display: flex;">
                    <div class="chanels">
                        <p><</p>
                    </div>
                    
                        <p style="margin: auto 1px;padding: 1px;font-size: 15px;">1 - {{role}}</p>
                    
                    <div class="chanels">
                        <p onclick="next()">></p>
                    </div>
                </div>
            </div>
            
            <div id="TESTED">Esto es Tested</div>
            <!-- pesttañas -->
            {% for i in Object %}
                <a href='/ils_admin/staff/fut?code={{i.code}}&mode=1' class='ayelash'>
                    <div class='filauno'><img width='25px' height='25px' style='margin: auto 7px;' src='/static/img/procedure.png' alt=''>
                        <h2> {{i.num}} </h2>
                        <p>{{i.order}}</p>
                    </div>
                    <div class='filados'><p>{{i.reason}}</p><p>-</p><p>{{i.name}}</p>-------<p>{{i.date}}</p>{% if i.stage == 1 %} <p style='opacity: 80%; color: orange; font-weight: bold; margin: auto 20px auto auto;'>/Pospuesto</p> {% elif i.stage == 2 %} <p style='opacity: 80%; color: skyblue; font-weight: bold; margin: auto 20px auto auto;'>/Pendiente</p> {% endif %}</div>
                </a>
            {% endfor %}
            <!-- fin-pestañas -->
            
            {% else %}

                        
            <style>
                .empty{
                    /* background: red; */
                    display: block;
                    text-align: center;
                    margin: 200px auto;
                }
            </style>

            <div class="empty">
                <img src="{% static 'img/empty.png' %}" alt="">
                <h1>No Hay Datos</h1>
            </div>

            {% endif %}

            {% endblock %}
            
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $("#miEnlace").click(function(event) {
            event.preventDefault(); // Evita que se siga el enlace por defecto

            // Realiza la solicitud AJAX
            $.ajax({
                url: "{% url 'n_view_fut' %}", // Ruta del archivo que contiene el contenido actualizado
                method: "GET",
                success: function(response) {
                    $("#miContenedor___").html(response); // Actualiza el contenido del div con la respuesta del servidor
                },
                error: function() {
                    alert("Ocurrió un error al cargar el contenido.");
                }
            });
        });
    });

    function closeForm(){
        document.getElementById("login-form-popup").style.display = "none";
    }

    function next(){
        event.preventDefault(); // Evita que se siga el enlace por defecto

        // Realiza la solicitud AJAX
        $.ajax({
            url: "/ils_admin/staff_treasury2", // Ruta del archivo que contiene el contenido actualizado
            method: "GET",
            success: function(response) {
                //$("#miContenedor___").html(response); // Actualiza el contenido del div con la respuesta del servidor
                const data = response.data;
                const contenedor = document.getElementById("TESTED");
                const direction = "{% static 'img/procedure.png' %}"
                console.log("la direccion es:"+direction)
                //creamos el div
                
                for (let i = 0; i < data['length']; i++){
                    const div = document.createElement('div');
                    div.innerHTML='<h1>LALALAND</h1>';
                    console.log('cocoro');
                    contenedor.appendChild(div)
                }
                
            },
            error: function() {
                alert("Ocurrió un error al cargar el contenido.");
            }
        });
    }
</script>
{% endblock %}