{% extends 'layouts/mainadmin.html' %}
{% load static %}

{% block position %}
<h2 class="position">/ {{Data_log.position_admin2}} </h2>
{% endblock %}

{% block content %}
<style>
    @font-face {
        font-family: 'sans_italic';
        src: url('/static/fonts/OpenSans_SemiCondensed-Regular.ttf') format('truetype')
    }
    /*@font-face {
        font-family: 'sans_italic_Bold';
        src: url('/static/fonts/OpenSans_SemiCondensed-SemiBold.ttf') format('truetype')
    }*/
    .block_container{
        /* background: red; */
        width: 100%;
        height: auto;
        margin: 10px 0px;
    }
    .block_bloker{
        width: 100%;
        height: auto;
        /* background: pink; */
        display: flex;
    }
    .block_one{
        width: 20%;
        height: calc(100vh - 80px);
        background: #464646;
        margin: 0px 10px 0px auto;
        border-radius: 4px;
    }
    .block_two{
        width: calc(80% - 30px);
        height: calc(100vh - 80px);
        /*background: green;*/
        margin: 0px auto 0px 0px;
        display: flex;
        flex-direction: column;
    }
    #cont_ayelash{
        /*background: salmon;*/
        height: 100vh;
    }
    .ayelash{
        width: 100%;
        height: 7.45%;
        background: #464646;
        margin: 0px 0px 5px 0px;
        display: flex;
        justify-content: space-between;
        /* font-weight: bold; */
        text-decoration: none;
        color: white;
        border-radius: 4px;
    }
    .ayelash_color{
        background: #5C5C5C;
    }
    .ayelash:hover{
        background: #707070;
    }
    /* ----------------------------------------------------- */
    .info1{
        /* background: red; */
        display: block;
        margin: 15px 0px;
    }
    .name{
        /* background:green; */
        font-size: large;
        opacity: 80%;
        margin: 20px 0px 0px 0px;
        display: block;
    }
    .name p{
        margin: 0px 10px;
        font-size: smaller;
    }
    .name2{
        background: rgb(82, 82, 82);
        display: flex;
        
        margin: 10px 0px 0px 0px;
        padding: 10px;
    }
    .name2 .signal{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: auto 0px;
    }
    .name2 .eltext{
        margin: 0px auto 0px 10px;
        font-weight: bold;
    }
    .numb{
        margin: 0px 10px 0px auto;
        font-weight: bold;
    }
    .red_a{
        color: red;
    }
    .green_a{
        color: #1be61b;
    }
    .red_b{
        background: red;
    }
    .green_b{
        background: #1be61b;
    }
    .label{
        /* background: pink; */
        padding: 10px 2px;
    }
    .label1{
        background: rgb(83, 83, 83);
        /*background: darkblue;*/
        margin: 5px 0px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        padding: 6px;
        color: white;
        text-decoration: none;
        font-size: smaller;
    }
    .label1:hover{
        background: rgb(117, 117, 117);
    }
    .filauno{
        width: 30%;
        /* background: salmon; */
        display: flex;
        font-family: 'sans_italic';
    }
    .filauno h2{
        background: #707070;
        padding: 1px 20px;
        margin: 10px 1px;
        text-align: center;
        align-items: center;
        display: flex;
        border-radius: 5px;
        font-size: smaller;
        opacity: 70%;
    }
    .filauno p{
        font-size: medium;
    }
    .filados{
        width: 70%;
        /*background: red; */
        display: flex;
    }
    .ayelash p{
        margin: auto 7px;
        font-size: smaller;
    }
/* ----------------------------- */
    .navbar_extra{
        display: flex;
        justify-content: space-between;
        /*background: red;*/
        height: 8%;
        font-size: smaller;
        margin: 0px 0px 5px 0px;
    }
    .prncipalcoso{
        /*background: #716AD1;*/
        height: 100%;
        margin: 0px auto 10px 0px;
        display: flex;
    }
    .label_principal{
        /* background: salmon; */
        border-bottom: 3px solid rgb(52, 101, 236);
        justify-content: center;
        width: 200px;
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 0px 10px 0px 0px;
    }
    .label_principal p{
        margin: 2px;
        font-weight: bold;
        opacity: 90%;
    }
    .label_principal .paa{
        background: green;
        padding: 4px;
        border-radius: 20px;
        font-size: smaller;
    }
    .chanel_cont{
        display: flex;
    }
    .chanel_cont p{
        font-size: small;
        margin: auto 2px;
    }
    .chanels{
        /* background: #1be61b; */
        width: 25px;
        height: 25px;
        align-items: center;
        text-align: center;
        margin: auto 10px;
        opacity: 90%;
        cursor: pointer;
    }
    .chanels p{
        margin: 0px;
        padding: 0px;
        font-weight: bold;
        font-size: 20px
    }
    .chanels:hover{
        opacity: 50%;
    }
    .data_fut{
        display: flex;
        opacity: 80%;
        font-weight: bold;
    }
    .new{
        font-weight: bold;
        color: #27b627;
    }
</style>
<div class="block_container">
    <div class="block_bloker">
        <div class="block_one">
            <div class="info1">
                <div class="name"><p>{{Data_log.position_admin1}} - {{Data_log.admin_name}}</p></div>
                <div class="name2"><div class="signal green_b"></div><p class="eltext">pendientes</p><p class="numb green_a">{{Data_log.num_futs}}</p></div>
            </div>
            <div class="label">
                <a href="{% url 'n_staff_treasury' %}" class="label1"><img width="20px" height="20px" style="margin: auto 7px;" src="{% static 'img/procedure.png' %}" alt="">Todos</a>
                <a href="{% url 'n_postulated' %}" class="label1"><img width="20px" height="20px" style="margin: auto 7px;" src="{% static 'img/icon02.png' %}" alt="">Pospuestos</a>
                {% if Data_log.position_admin1 == 'Tesorera' %}
                    <a href="{% url 'n_pending' %}" class="label1"><img width="20px" height="20px" style="margin: auto 7px;" src="{% static 'img/icon03_white.png' %}" alt="">Pendientes</a>
                {% endif %}
                <a href="{% url 'n_send' %}" class="label1"><img width="20px" height="20px" style="margin: auto 7px;" src="{% static 'img/send.png' %}" alt="">Enviados</a>
            </div>
        </div>
        <div class="block_two" id="miContenedor">
            {% block fut %}

            {% if Len_list_data != 0 %}
            <div class="navbar_extra">
                <div class="prncipalcoso">
                    <div class="label_principal"><p>Principal</p></div>
                    <div class="label_principal">
                        <p>No Leidos</p>
                        {% if views == 0 %}
                            <p class="paa" style="background: #5C5C5C;">{{views}} Nuevos</p>
                        {% else %}
                            <p class="paa">{{views}} Nuevos</p>
                        {% endif %}
                    </div>
                </div>
                <div class="chanel_cont">
                    <div class="chanels">
                        <p onclick="before()">&lt;</p>
                    </div>
                        <p id="id_page"> <strong>1</strong></p>
                        <p>-</p>
                        <p><strong>{{role}}</strong></p>
                    <div class="chanels">
                        <p onclick="next()">&gt;</p>
                    </div>
                </div>
            </div>
            
            <div id="cont_ayelash">
            <!-- pesttañas -->
            {% for i in Object %}
                <a href='/ils_admin/staff/fut?code={{i.code}}&mode=1' class='ayelash {% if i.view == 0 %}ayelash_color{% endif %}'>
                    <div class='filauno'><img width='25px' height='25px' style='margin: auto 7px;' src='/static/img/procedure.png' alt=''>
                        <h2>{{i.num}}</h2>
                        <p>{{i.order}}</p>
                    </div>
                    <div class='filados'>
                        <p>{{i.reason}}</p><p>-</p><p>{{i.name}}</p>{% if i.view == 0 %}<p class='new'>/Nuevo</p>{% endif %}{% if i.stage == 1 %}<p class='data_fut' style='color: orange; margin: auto 20px auto auto;'>/Pospuesto - {{i.date}}</p> {% elif i.stage == 2 %} <p class='data_fut' style='color: skyblue; margin: auto 20px auto auto;'>/Pendiente - {{i.date}}</p>{% else %}<p class='data_fut' style='margin: auto 20px auto auto;'>{{i.date}}</p>{% endif %}
                    </div>
                </a>
            {% endfor %}
            <!-- fin-pestañas -->
            </div>
            
            {% else %}

                        
            <style>
                .empty{
                    /* background: red; */
                    display: block;
                    text-align: center;
                    margin: 200px auto;
                }
            </style>

            <div class="empty">
                <img src="{% static 'img/empty.png' %}" alt="">
                <h1>No Hay Datos</h1>
            </div>

            {% endif %}

            {% endblock %}
            
        </div>
    </div>
</div>
<script>
//esto es para obtener variables
//este script se quedara en el html
var role = "{{role}}";
</script>

<script>
    $(document).ready(function() {
        $("#miEnlace").click(function(event) {
            event.preventDefault(); // Evita que se siga el enlace por defecto

            // Realiza la solicitud AJAX
            $.ajax({
                url: "{% url 'n_view_fut' %}", // Ruta del archivo que contiene el contenido actualizado
                method: "GET",
                success: function(response) {
                    $("#miContenedor___").html(response); // Actualiza el contenido del div con la respuesta del servidor
                },
                error: function() {
                    alert("Ocurrió un error al cargar el contenido.");
                }
            });
        });
    });

    function closeForm(){
        document.getElementById("login-form-popup").style.display = "none";
    }
    function next(){
        chanel_page('next');
    }
    function before(){
        chanel_page('before');
    }
    function chanel_page(action){
        event.preventDefault(); // Evita que se siga el enlace por defecto
        const page = document.getElementById('id_page');
        const pageText = page.textContent;
        // Realiza la solicitud AJAX
        $.ajax({
            url: "/ils_admin/staff_treasury2", // Ruta del archivo que contiene el contenido actualizado
            method: "GET",
            data:{
                'page':pageText,
                'role':role,
                'action': action
            },
            success: function(response) {
                page.textContent = response.new_page
                //process
                const data = response.data;
                const contenedor = document.getElementById("cont_ayelash");
                const direction = "{% static 'img/procedure.png' %}"
                console.log("la direccion es:"+direction)
                //creamos el div
                contenedor.innerHTML = '';
                for (let i = 0; i < data['length']; i++){
                    //estado pospuesto o pendiente
                    var estado="<p></p>";
                    if(data[i]['stage']==1){ //POSPUESTO
                        estado = "<p class='data_fut' style='color: orange;margin: auto 20px auto auto;'>/Pospuesto - "+data[i]['date']+"</p>";
                    }else if(data[i]['stage']==2){//PENDIENTE
                        estado = "<p class='data_fut' style='color: skyblue;margin: auto 20px auto auto;'>/Pendiente - "+data[i]['date']+"</p>";
                    }else{
                        estado="<p class='data_fut' style='margin: auto 20px auto auto;'>"+data[i]['date']+"</p>";
                    }
                    var new_fut="";
                    var class_view="";
                    if(data[i]["view"]==0){
                        new_fut="<p class='new'>/Nuevo</p>";
                        class_view="ayelash_color";
                    }


                    // contenido del  div
                    const div = document.createElement('div');
                    div.innerHTML="<a href='/ils_admin/staff/fut?code="+data[i]['code']+"&mode=1' class='ayelash "+class_view+"'>"+
                    "<div class='filauno'><img width='25px' height='25px' style='margin: auto 7px;' src='/static/img/procedure.png' alt=''>"+
                        "<h2>"+data[i]['num']+"</h2>"+
                        "<p>"+data[i]['order']+"</p>"+
                    "</div>"+
                    "<div class='filados'><p>"+data[i]['reason']+"</p><p>-</p><p>"+data[i]['name']+"</p>"+new_fut+estado+"</div>"+
                    "</a>";
                    contenedor.appendChild(div)
                }
            },
            error: function() {
                alert("Ocurrió un error al cargar el contenido.");
            }
        });
    }
</script>
{% endblock %}